﻿@using ReportViewerForMvc;
@model IEnumerable<SaveWedding.Models.tblMonth>
@{
    Layout = null;
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                </span> Customer Points
            </h3>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Customer Points</h4>
                        <div class="row pb-2 pt-1">
                            <div class="col-12">
                                <div class="input-group-prepend" style="float:right;">
                                    <label style="color:black;width:80px;">Filters By</label>
                                    <button class="btn btn-sm btn-outline-primary dropdown-toggle" style="margin-left:1%;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</button>
                                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 46px, 0px);">
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <a class="dropdown-item" href="@Url.Action("Points","GetPointReporting",new {filter=1, idmonth=item.monthid })">@item.monthname</a>
                                            }
                                        }
                                        <a class="dropdown-item" href="@Url.Action("Points","GetPointReporting",new {filter=0 })">All Data</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.PointReportViewer != null)
                        {
                            @Html.ReportViewer(ViewBag.PointReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank"> Save Wedding</a>.All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>

