﻿@model SaveWedding.Models.Admin.RewardUser

@using System.Globalization;
@{
    Layout = null;
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

@Styles.Render("~/bundles/datatable")

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                </span> Claim Rewards
            </h3>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Recent Claim Rewards</h4>
                        <div>
                            <label class="alert-success">@TempData["message"]</label>
                            <label class="alert-danger">@TempData["warning"]</label>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover" id="datatables">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Claim Date</th>
                                        <th>Use Date</th>
                                        <th>Reward Name</th>
                                        <th>Status </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.UserActor != null)
                                    {
                                        int no = 1;
                                        foreach (var item in Model.Claim)
                                        {
                                    <tr>
                                        <td>@no</td>

                                        @if (item.tblUser.actorid == 2)
                                        {
                                            <td>@item.tblUser.name</td>
                                        }
                                        else
                                        {
                                            <td>Admin</td>
                                        }
                                        @if (item.tblUser.actorid == 2)
                                        {
                                            <td>@item.tblUser.email</td>
                                        }
                                        else
                                        {
                                            <td>Admin</td>
                                        }

                                        <td>@item.claimdate.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        @if (item.usedate != null)
                                        {
                                            <td>@item.usedate.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        }
                                        else
                                        {
                                            <td> - </td>
                                        }
                                        <td>@item.tblReward.rewardname</td>
                                        <td>
                                            @if (item.claimstatus == 0)
                                            {
                                                <label class="badge badge-outline-danger">Not Used Yet</label>
                                            }
                                            else
                                            {
                                                <label class="badge badge-outline-success">Already Used</label>
                                            }
                                        </td>


                                    </tr>
                                            no++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank"> Save Wedding</a>.All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>


@Scripts.Render("~/Content/datatable")

<script>
    $('#datatables').DataTable();
</script>



@Html.Partial("~/Views/Claim/DeleteClaim.cshtml")