﻿@model SaveWedding.Models.Admin.SavingUser
@using System.Linq;
@using System.Globalization;
@{
    Layout = null;
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

@Styles.Render("~/bundles/datatable")

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                </span> Customer
            </h3>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Recent Customer</h4>
                        <div>
                            <label class="alert-success">@TempData["message"]</label>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover" id="datatables">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Access Level</th>
                                        <th>Status</th>
                                        <th>Point Reward</th>
                                        <th>Details</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.UserActor != null)
                                    {
                                        int no = 1;
                                        foreach (var item in Model.UserActor)
                                        {
                                            <tr>
                                                <td>@no</td>
                                                <td>@item.name</td>
                                                <td>@item.actorname</td>
                                                @if (item.isactive == 1)
                                                {
                                                    <td>active</td>
                                                }
                                                else
                                                {
                                                    <td>not active</td>
                                                }

                                                @if (Model.Saving.Count(x=>x.userid==item.userid) != 0)
                                                {
                                                    <td>
                                                        @Model.Saving.Where(x => x.userid == item.userid).OrderByDescending(x => x.savingid).Select(x => x.point).FirstOrDefault().Value.ToString("N0", CultureInfo.CreateSpecificCulture("es-ES"))
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>-</td>
                                                }
                                                <td>
                                                    <button class="badge badge-pill badge-gradient-info" type="button" data-toggle="modal" data-target="#ModalProfileDetails_@no" onclick="@{
                                                        ViewBag.userdata = new
                                                        {
                                                            userid = item.userid,
                                                            name = item.name,
                                                            username = item.username,
                                                            email = item.email,
                                                            datecreated = item.datecreated,
                                                            phone = item.phone,
                                                            ktp = item.noktp,
                                                            address = item.address,
                                                            image = item.imgprofile,
                                                            gender = item.Gender
                                                        };} ">
                                                        Profile
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="mdi mdi-delete-forever page-title badge-pill badge-gradient-danger" type="button" data-toggle="modal" data-target="#ModalDeletCustomer_@no" onclick="@{
                                                         ViewBag.userdata = new
                                                        {
                                                            userid = item.userid
                                                        };
                                                        }"></button>
                                                </td>
                                            </tr>
                                            no++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank"> Save Wedding</a>.All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>


@Scripts.Render("~/Content/datatable")

<script>
    $('#datatables').DataTable();
</script>


@Html.Partial("ProfileDetails")
@Html.Partial("DeleteCustomer")
@Html.Partial("SavingDetails")
@Html.Partial("RewardDetails")