﻿@model IEnumerable<SaveWedding.Models.tblCity>
@{
    Layout = null;
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

@Styles.Render("~/bundles/datatable")

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                </span>Setting
            </h3>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">District or City</h4>
                        <div>
                            <label class="alert-success" style="margin-top:-20px;">@TempData["message"]</label>
                        </div>
                        <p class="card-description">
                            <button type="button" data-toggle="modal" data-target="#Createcitymodal" class="btn btn-success btn-fw" style="padding-left:10px; padding-right:10px;">(+)New Item</button>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-hover" id="example">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int no = 1;
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@no</td>
                                                <td>@item.cityname</td>
                                                <td>
                                                    <button class="mdi mdi-lead-pencil page-title badge-pill badge-gradient-primary" type="button" data-toggle="modal" data-target="#editcitymodal_@no" onclick="@{
                                                        ViewBag.itemdata = new {
                                                           idcity = item.cityid,
                                                           namecity = item.cityname
                                                        };
                                                    } "></button>
                                                    <button class="mdi mdi-delete-forever page-title badge-pill badge-gradient-danger" type="button" data-toggle="modal" data-target="#deletecitymodal_@no" onclick="@{
                                                        ViewBag.itemdata = new
                                                        {
                                                            idcity = item.cityid
                                                        };
                                                    } "></button>
                                                </td>
                                            </tr>
                                            no++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank"> Save Wedding</a>.All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>

@Scripts.Render("~/Content/datatable")

<script>
    $('#example').DataTable();
</script>

@Html.Partial("~/Views/SettingModal/CreateCity.cshtml")
@Html.Partial("~/Views/SettingModal/EditCity.cshtml")
@Html.Partial("~/Views/SettingModal/DeleteCity.cshtml")