﻿@model IEnumerable<SaveWedding.Models.tblReward>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <!-- Modal -->
        <div class="modal fade" id="statusrewardmodal_@item.rewardid" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" style="width:65%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Edit Status Reward</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="padding-left:10%;padding-right:10%;">
                            <div class="col-12 grid-margin">
                                <form class="form-sample" method="post" action="@Url.Action("EditStatusReward", "Reward")">
                                    <div class="form-group">


                                        <input type="hidden" name="Idreward" value="@item.rewardid" />
                                        @if (item.status == null || item.status != 1)
                                        {
                                            <h5>Are you sure want to <strong style="color:limegreen">Active</strong> this reward?</h5>
                                            <input type="hidden" name="status" value="1" />
                                        }
                                        else
                                        {
                                            <h5>Are you sure want to <strong style="color:red">Non Active</strong> this reward?</h5>
                                            <input type="hidden" name="status" value="0" />
                                        }

                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal">No</button>
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
