﻿@model SaveWedding.Models.Admin.Dashboard
@{
    Layout = null;
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                    <span class="page-title-icon bg-gradient-primary text-white mr-2">
                        <i class="mdi mdi-home"></i>
                    </span> Dashboard
                </h3>
            </div>
            @if (Model != null)
            {
            <div class="row">
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-danger card-img-holder text-white">
                        <div class="card-body">
                            <img src="~/Templates/PurpleTemp/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                            <h4 class="font-weight-normal mb-3">
                                Already Registered <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                            </h4>
                            <div class="mb-5" id="alreadyregis">
                                <h2>@Model.alregis</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-info card-img-holder text-white">
                        <div class="card-body">
                            <img src="~/Templates/PurpleTemp/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                            <h4 class="font-weight-normal mb-3">
                                Currently Saving <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                            </h4>
                            <div class="mb-5" id="currentlysave">
                                <h2>@Model.cursave</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-success card-img-holder text-white">
                        <div class="card-body">
                            <img src="~/Templates/PurpleTemp/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                            <h4 class="font-weight-normal mb-3">
                                Customer Finished Saving<i class="mdi mdi-diamond mdi-24px float-right"></i>
                            </h4>
                            <div class="mb-5" id="finishedsave">
                                <h2>@Model.finsave</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-primary card-img-holder text-white">
                        <div class="card-body">
                            <img src="~/Templates/PurpleTemp/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                            <h4 class="font-weight-normal mb-3">
                                Late Customers Saving<i class="mdi mdi-chart-line mdi-24px float-right"></i>
                            </h4>
                            <div class="mb-5" id="latesave">
                                <h2>@Model.latsave</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-warning card-img-holder text-white">
                        <div class="card-body">
                            <img src="~/Templates/PurpleTemp/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                            <h4 class="font-weight-normal mb-3">
                                Customers Saving Today <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                            </h4>
                            <div class="mb-5" id="Savetoday">
                                <h2>@Model.savday</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 stretch-card grid-margin">
                    <div class="card bg-gradient-dark card-img-holder text-white">
                        <div class="card-body">
                            <img src="~/Templates/PurpleTemp/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                            <h4 class="font-weight-normal mb-3">
                                Customer Get Rewards <i class="mdi mdi-diamond mdi-24px float-right"></i>
                            </h4>
                            <div class="mb-5" id="getreward">
                                <h2>@Model.bonday</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <script>
        function loaddata() {
            $.ajax({
                url: "@Url.Action("AlreadyRegistered","Dashboard")",
                success: function (response) {
                    if (response != null) {
                        $('#alreadyregis').html('<h2>' + response + '</h2>');
                    } else {
                        alert("Something Went Wrong!");
                    }
                }
            });
            }
            function loaddata2() {
            $.ajax({
                url: "@Url.Action("CurrentlySaving","Dashboard")",
                success: function (response) {
                    if (response != null) {
                        $('#currentlysave').html('<h2>' + response + '</h2>');
                    } else {
                        alert("Something Went Wrong!");
                    }
                }
            });
            }
            function loaddata3() {
            $.ajax({
                url: "@Url.Action("FinishedSaving","Dashboard")",
                success: function (response) {
                    if (response != null) {
                        $('#finishedsave').html('<h2>' + response + '</h2>');
                    } else {
                        alert("Something Went Wrong!");
                    }
                }
            });
            }
            function loaddata4() {
            $.ajax({
                url: "@Url.Action("LateSaving","Dashboard")",
                success: function (response) {
                    if (response != null) {
                        $('#latesave').html('<h2>' + response + '</h2>');
                    } else {
                        alert("Something Went Wrong!");
                    }
                }
            });
            }
            function loaddata5() {
            $.ajax({
                url: "@Url.Action("SavingToday","Dashboard")",
                success: function (response) {
                    if (response != null) {
                        $('#Savetoday').html('<h2>' + response + '</h2>');
                    } else {
                        alert("Something Went Wrong!");
                    }
                }
            });
            }
            function loaddata6() {
            $.ajax({
                url: "@Url.Action("GetRewards","Dashboard")",
                success: function (response) {
                    if (response != null) {
                        $('#getreward').html('<h2>' + response + '</h2>');
                    } else {
                        alert("Something Went Wrong!");
                    }
                }
            });
            }

            setInterval(function () {
                loaddata();
                loaddata2();
                loaddata3();
                loaddata4();
                loaddata5();
                loaddata6();
            }, 5000);

        </script>

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank"> Save Wedding</a>.All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
        </footer>
        <!-- partial -->
    </div>