﻿@model IEnumerable<SaveWedding.Models.Admin.CategoryItem>

@{
    Layout = null;
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}
@Styles.Render("~/bundles/datatable")

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                </span>Category
            </h3>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Invitation Card</h4>
                        <div>
                            <label class="alert-success">@TempData["message"]</label>
                        </div>
                        <p class="card-description">
                            <button type="button" data-toggle="modal" data-target="#createinvitationmodal" class="btn btn-success btn-fw" style="padding-left:10px; padding-right:10px;">(+)New Item</button>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-hover" id="datatables">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Image </th>
                                        <th>Price</th>
                                        <th>Detail</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int no = 1;
                                        foreach (var item in Model)
                                        {
                                            long hargainvitation = Convert.ToInt64(item.itemprice);
                                            <tr>
                                                <td>@no</td>
                                                <td>@item.itemname</td>
                                                <td>
                                                    <img src="@Url.Content(item.itemimage)" alt="Invitation Image" />
                                                </td>
                                                <td>@hargainvitation.ToString("N0")</td>
                                                <td>@item.itemdetail</td>
                                                <td>
                                                    <button class="mdi mdi-lead-pencil page-title badge-pill badge-gradient-primary" type="button" data-toggle="modal" data-target="#editinvitationmodal_@no" onclick="@{
                                                        ViewBag.itemdata = new {
                                                            itemid = item.itemid,
                                                            itemname = item.itemname,
                                                            itemdetail = item.itemdetail,
                                                            itemprice = item.itemprice,
                                                            categoryid = item.categoryid
                                                        };
                                                    } "></button>
                                                    <button class="mdi mdi-delete-forever page-title badge-pill badge-gradient-danger" type="button" data-toggle="modal" data-target="#deleteinvitationmodal_@no" onclick="@{
                                                        ViewBag.itemdata = new
                                                        {
                                                            itemid = item.itemid
                                                        };
                                                    } "></button>
                                                </td>
                                            </tr>
                                            no++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank"> Save Wedding</a>.All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>

@Scripts.Render("~/Content/datatable")

<script>
    $('#datatables').dataTable();
</script>

@Html.Partial("~/Views/CategoryModal/CreateInvitation.cshtml")
@Html.Partial("~/Views/CategoryModal/EditInvitation.cshtml")
@Html.Partial("~/Views/CategoryModal/DeleteInvitation.cshtml")