﻿@model SaveWedding.Models.Admin.JobSalary
@{
    Layout = null;
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}
@Styles.Render("~/bundles/datatable")

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                </span>Setting
            </h3>
        </div>

        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <span class="alert-success" style="margin-top:-20px;">@TempData["message"]</span>
                        <h4 class="card-title">Job Category</h4>
                        <p class="card-description">
                            <button type="button" data-toggle="modal" data-target="#Createjobmodal" class="btn btn-success btn-fw" style="padding-left:10px; padding-right:10px;">(+)New Item</button>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-hover" id="datatables">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Joblist != null)
                                    {
                                        int no = 1;
                                        foreach (var item in Model.Joblist)
                                        {
                                            <tr>
                                                <td>@no</td>
                                                <td>@item.jobname</td>
                                                <td>
                                                    <button class="mdi mdi-lead-pencil page-title badge-pill badge-gradient-primary" type="button" data-toggle="modal" data-target="#editjobmodal_@no" onclick="@{
                                                        ViewBag.itemdata = new {
                                                           idjob = item.jobid,
                                                           namejob = item.jobname
                                                        };
                                                    } "></button>
                                                    <button class="mdi mdi-delete-forever page-title badge-pill badge-gradient-danger" type="button" data-toggle="modal" data-target="#deletejobmodal_@no" onclick="@{
                                                        ViewBag.itemdata = new
                                                        {
                                                            idjob = item.jobid
                                                        };
                                                    } "></button>
                                                </td>
                                            </tr>
                                            no++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Salary Category</h4>
                        <p class="card-description">
                            <button type="button" data-toggle="modal" data-target="#Createsalarymodal" class="btn btn-success btn-fw" style="padding-left:10px; padding-right:10px;">(+)New Item</button>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-hover" id="datatables2">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Salarylist != null)
                                    {
                                        int no = 1;
                                        foreach (var item in Model.Salarylist)
                                        {
                                            <tr>
                                                <td>@no</td>
                                                <td>@item.salaryrange</td>
                                                <td>
                                                    <button class="mdi mdi-lead-pencil page-title badge-pill badge-gradient-primary" type="button" data-toggle="modal" data-target="#editsalarymodal_@no" onclick="@{
                                                        ViewBag.itemdata = new {
                                                           idsalary = item.salaryid,
                                                           namesalary = item.salaryrange
                                                        };
                                                    } "></button>
                                                    <button class="mdi mdi-delete-forever page-title badge-pill badge-gradient-danger" type="button" data-toggle="modal" data-target="#deletesalarymodal_@no" onclick="@{
                                                        ViewBag.itemdata = new
                                                        {
                                                            idsalary = item.salaryid
                                                        };
                                                    } "></button>
                                                </td>
                                            </tr>
                                            no++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank"> Save Wedding</a>.All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>

@Scripts.Render("~/Content/datatable")

<script>
    $('#datatables').DataTable();
    $('#datatables2').DataTable();
</script>

@Html.Partial("~/Views/SettingModal/CreateJob.cshtml")
@Html.Partial("~/Views/SettingModal/EditJob.cshtml")
@Html.Partial("~/Views/SettingModal/DeleteJob.cshtml")

@Html.Partial("~/Views/SettingModal/CreateSalary.cshtml")
@Html.Partial("~/Views/SettingModal/EditSalary.cshtml")
@Html.Partial("~/Views/SettingModal/DeleteSalary.cshtml")