﻿<!-- Modal -->
<div class="modal fade" id="newpackage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" style="width:65%;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Create Package</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="padding-left:10%;padding-right:10%;">
                    <div class="col-12 grid-margin">
                        <form class="forms-sample" method="post" action="@Url.Action("CreatePackage","Package")">
                            <div class="form-group">
                                <label>Package Name</label>
                                <input type="text" class="form-control" name="packagename" required>
                            </div>                           
                            <div class="form-group" style="float:right; margin-top:3%;">
                                <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>
