﻿@model SaveWedding.Models.Admin.PlanningStatus

@{
    Layout = null;
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

@Styles.Render("~/bundles/datatable")

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                </span> Planning
            </h3>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <label class="alert-success">@TempData["messagealert"]</label>
                        </div>
                        <h4 class="card-title">Recent Planning</h4>
                        <div class="table-responsive">
                            <table class="table table-hover" id="datatables">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Custumer Name</th>
                                        <th>Planning Date</th>
                                        <th>Long Time Saving</th>
                                        <th>Total Price</th>
                                        <th>Monthly Fee</th>
                                        <th>Status</th>
                                        <th>Details</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.plan != null)
                                    {
                                        int no = 1;
                                        long distinctuser = 0;
                                        int distinctstatus = 0;
                                        string datenoww = "";
                                        foreach (var item in Model.plan)
                                        {

                                            if (item.userid != distinctuser || item.statusid != distinctstatus || item.plandate != datenoww)
                                            {
                                                long price = Convert.ToInt64(item.totalprice);
                                                long fee = Convert.ToInt64(item.monthlyfee);
                                                <tr>
                                                    <td>@no</td>
                                                    <td>@item.tblUser.name</td>
                                                    <td>@item.plandate</td>
                                                    <td>@item.longtimesaving</td>
                                                    <td>@price.ToString("N0")</td>
                                                    <td>@fee.ToString("N0")</td>
                                                    <td>
                                                        <label class="@item.tblStatusPlanning.statusclass">@item.tblStatusPlanning.statusname</label>
                                                    </td>
                                                    <td>
                                                        <button class="badge badge-pill badge-gradient-info" type="button" data-toggle="modal" data-target="#itemdetails_@no" onclick="@{
                                                            ViewBag.planning = new
                                                            {
                                                                iduser = item.userid,
                                                                idstatus = item.statusid,
                                                                dateplan = item.plandate
                                                            };
                                                              } ">
                                                            Item
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button class="mdi mdi-lead-pencil page-title badge-pill badge-gradient-primary" type="button" data-toggle="modal" data-target="#editstatusplanning_@no" onclick="@{
                                                            ViewBag.planning = new
                                                            {
                                                                iduser = item.userid,
                                                                idstatus = item.statusid,
                                                                namestatus = item.tblStatusPlanning.statusname,
                                                                dateplan = item.plandate
                                                            };
                                                        } "></button>
                                                        <button class="mdi mdi-delete-forever page-title badge-pill badge-gradient-danger" type="button" data-toggle="modal" data-target="#deletecustumerplanning_@no" onclick="@{
                                                            ViewBag.planning = new
                                                            {
                                                                iduser = item.userid,
                                                                idstatus = item.statusid,
                                                                dateplan = item.plandate
                                                            };
                                                        } "></button>
                                                    </td>

                                                </tr>
                                                distinctuser = Convert.ToInt64(item.userid);
                                                distinctstatus = Convert.ToInt32(item.statusid);
                                                datenoww = item.plandate;
                                                no++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank"> Save Wedding</a>.All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>

@Html.Partial("~/Views/Planning/ItemPlanning.cshtml")
@Html.Partial("~/Views/Planning/EditStatusPlanning.cshtml")
@Html.Partial("~/Views/Planning/DeletePlanning.cshtml")

@Scripts.Render("~/Content/datatable")
<script>
    $('#datatables').dataTable();
</script>
