﻿@*@if (Model != null)
{
    int no = 1;
    foreach (var item in Model)
    {
        ViewBag.userdata = new
        {
            userid = item.userid,
            name = item.name,
            username = item.username,
            email = item.email,
            datecreated = item.datecreated,
            phone = item.phone,
            ktp = item.noktp,
            address = item.address,
            image = item.imgprofile,
            gender = item.Gender
        };*@

        <!-- Modal -->
        <div class="modal fade" id="ModalRewardDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" style="width:65%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Reward Information</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            
                            <div class="col-12 grid-margin" style="position:center;">
                                <div class="card">
                                    <div class="card-body">
                                        <form class="forms-sample">
                                            <div class="form-group">
                                                <label>Total Point</label>
                                                <input type="text" class="form-control" value="" name="name" readonly>
                                            </div>
                                            
                                            @*<button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                                                <button class="btn btn-light">Cancel</button>*@
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                        <button type="button" id="BtnForgotPassword" data-dismiss="modal" data-toggle="modal" data-target="#NoticeModal" class="btn btn-primary">Submit</button>
                    </div>*@
                </div>
            </div>
        </div>
        @*no++;
    }
}*@
