﻿@model IEnumerable<SaveWedding.Models.tblReward>

@{
    Layout = null;
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

@Styles.Render("~/bundles/datatable")

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                </span>Reward
            </h3>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Recent Reward</h4>
                        <div>
                            <label class="alert-success">@TempData["message"]</label>
                            <label class="alert-danger">@TempData["warning"]</label>
                        </div>
                        <p class="card-description">
                            <button type="button" data-toggle="modal" data-target="#createrewardmodal" class="btn btn-success btn-fw" style="padding-left:10px; padding-right:10px;">(+)New Reward</button>
                        </p>
                        <div class="table-responsive">
                            <table class="table table-hover" id="datatables">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Image Banner </th>
                                        <th>Reward Point</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int no = 1;
                                        foreach (var item in Model)
                                        {
                                            long rewardpoint = Convert.ToInt64(item.totalpoint);
                                            <tr>
                                                <td>@no</td>
                                                <td>@item.rewardname</td>
                                                <td>
                                                    <img src="@Url.Content(item.imagebanner)" alt="Dress Image" />
                                                </td>
                                                <td>@rewardpoint.ToString("N0")</td>
                                                <td>
                                                    @if (item.status == 0 || item.status == null)
                                                    {
                                                        <label class="badge badge-outline-danger">Not Active</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="badge badge-outline-success">Active</label>
                                                    }
                                                </td>
                                                <td>
                                                    <button class="mdi mdi-lead-pencil page-title badge-pill badge-gradient-primary" type="button" data-toggle="modal" data-target="#editrewardmodal_@item.rewardid" onclick="@{
                                                        ViewBag.itemdata = new {
                                                            itemid = item.rewardid,
                                                            itemname = item.rewardname,
                                                            itempoint = item.totalpoint
                                                        };
                                                    } "></button>
                                                    <button class="mdi mdi-autorenew page-title badge-pill badge-gradient-info" type="button" data-toggle="modal" data-target="#statusrewardmodal_@item.rewardid" onclick="@{
                                                        ViewBag.itemdata = new
                                                        {
                                                            itemid = item.rewardid,
                                                            status = item.status
                                                        };
                                                    } "></button>

                                                    <button class="mdi mdi-delete-forever page-title badge-pill badge-gradient-danger" type="button" data-toggle="modal" data-target="#deleterewardmodal_@item.rewardid" onclick="@{
                                                        ViewBag.itemdata = new
                                                        {
                                                            itemid = item.rewardid
                                                        };
                                                    } "></button>
                                                </td>
                                               

                                            </tr>
                                            no++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank"> Save Wedding</a>.All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>

@Scripts.Render("~/Content/datatable")

<script>
    $('#datatables').dataTable();
</script>

@Html.Partial("~/Views/Admin/CreateReward.cshtml")
@Html.Partial("~/Views/Admin/EditReward.cshtml")
@Html.Partial("~/Views/Admin/DeleteReward.cshtml")
@Html.Partial("~/Views/Admin/EditStatusReward.cshtml")