﻿@model SaveWedding.Models.Admin.SavingUser

@using System.Globalization;
@{
    Layout = null;
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

@Styles.Render("~/bundles/datatable")

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                </span> Saving
            </h3>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Recent Saving</h4>
                        <div>
                            <label class="alert-success">@TempData["messagealert"]</label>
                            <label class="alert-danger">@TempData["messagealert1"]</label>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover" id="datatables">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Upload Date</th>
                                        <th>Deadline Date</th>
                                        <th>Nominal Saving</th>
                                        <th>Remain Saving</th>
                                        <th>Nominal Fine</th>
                                        <th>Evidence of Transfer </th>
                                        <th>Status </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.UserActor != null)
                                    {
                                        int no = 1;
                                        foreach (var item in Model.Saving)
                                        {
                                    <tr>
                                        <td>@no</td>

                                        @if (item.tblUser.actorid == 2)
                                        {
                                            <td>@item.tblUser.name</td>
                                        }
                                        else
                                        {
                                            <td>Admin</td>
                                        }

                                        <td>@item.uploaddate.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>@item.deadlinedate.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                        <td>@item.nominal.Value.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                                        @if (item.remaining == null)
                                        {
                                            <td>-</td>
                                        }
                                        else
                                        {
                                            <td>@item.remaining.Value.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                                        }
                                        @if (item.fine == null)
                                        {
                                            <td>-</td>
                                        }
                                        else
                                        {
                                            <td>
                                                @item.fine.Value.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))
                                            </td>

                                        }
                                        <td>
                                            <button class="item" data-placement="top" title="image" data-toggle="modal" data-target="#image_@item.savingid" onclick="@{
                                                    ViewBag.reimburse = new
                                                    {
                                                         id = item.savingid,
                                                         gam = item.savingimage
                                                    };
                                                    } ">
                                                <img src="@Url.Content(item.savingimage)" alt="@item.savingid" />
                                            </button>
                                        </td>
                                        <td>
                                            @if (item.savingstatus == null || item.savingstatus == 0)
                                            {
                                                <label class="badge badge-warning">Pending</label>
                                            }
                                            else if (item.savingstatus == 1)
                                            {
                                                <label class="badge badge-success">Approved</label>
                                            }
                                            else
                                            {
                                                <label class="badge badge-danger">Rejected</label>
                                            }
                                        </td>
                                        <td>
                                            <button class="mdi mdi-lead-pencil page-title badge-pill badge-gradient-primary" type="button" data-toggle="modal" data-target="#editstatussaving_@item.savingid"></button>
                                        </td>


                                    </tr>
                                            no++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank"> Save Wedding</a>.All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>


@Scripts.Render("~/Content/datatable")

<script>
    $('#datatables').DataTable();
</script>



@foreach (var item in Model.Saving)
{
    ViewBag.reimburse = new
    {
        id = item.savingid,
        gam = item.savingimage
    };
    <div class="modal fade" id="image_@item.savingid" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <img src="@Url.Content(@ViewBag.reimburse.gam)" alt="test" style="width:100%;height:100%;" data-dismiss="modal" />

            </div>
        </div>
    </div>
}

@Html.Partial("~/Views/Saving/EditStatusSaving.cshtml")