﻿
@model SaveWedding.Models.Admin.SavingUser
@using System.Linq;
<!-- Modal -->
@if (Model.UserActor != null)
{
    foreach (var data in Model.UserActor)
    {
        <div class="modal fade" id="ModalSavingDetails_@data.userid" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable" role="document" style="width:65%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Saving Information</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            @*<div class="col-6 grid-margin" style="background-color:white; padding-right:0px;">
                                    <img class="card-img-top" src="~/Templates/PurpleTemp/assets/images/user/default.png" alt="User View" style="width:100%;">
                                </div>*@
                            <div class="col-12 grid-margin" style="position:center">
                                <div class="card">
                                    <div class="card-body">
                                        <form class="forms-sample">
                                            @if (Model.Saving != null)
                                            {
                                                foreach (var item in Model.Saving)
                                                {
                                                    <div class="form-group">
                                                        <label>Deadline saving date</label>
                                                        <input type="text" class="form-control" value="@item.savingdate" name="name" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Start saving date</label>
                                                        <input type="text" class="form-control" value="" name="username" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Total month saving</label>
                                                        <input type="text" class="form-control" value="" name="gender" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Current month saving</label>
                                                        <input type="text" class="form-control" value="" name="noktp" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Transfer proof</label>
                                                        <input type="text" class="form-control" value="" name="datecreated" readonly>
                                                    </div>
                                                }

                                            }


                                            @*<button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                                                <button class="btn btn-light">Cancel</button>*@
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                            <button type="button" id="BtnForgotPassword" data-dismiss="modal" data-toggle="modal" data-target="#NoticeModal" class="btn btn-primary">Submit</button>
                        </div>*@
                </div>
            </div>
        </div>
    }

}

@*no++;
        }
    }*@
