﻿@model SaveWedding.Models.tblUser
@{
    Layout = null;
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                </span>Setting
            </h3>
        </div>
        @if (Model != null)
        {
            <div class="row">
                <div class="col-4" style="width:1038px;">
                    <img class="card-img-top" src="@Url.Content(Model.imgprofile)" alt="Image Profile" style="width:300px; height:auto; display:block; margin:auto;  ">
                </div>
                <div class="col-8 grid-margin" style="padding:0px 0px;">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">View Profile</h4>
                            <form class="forms-sample" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" value="@Model.userid" name="userid">
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label>Full Name</label>
                                        <input type="text" class="form-control editprofileuser" value="@Model.name" name="name" readonly>
                                    </div>
                                    <div class="form-group col-6">
                                        <label>User Name</label>
                                        <input type="text" class="form-control editprofileuser" value="@Model.username" name="username" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label>Gender</label>
                                        <input type="text" class="form-control editprofileuser" value="@Model.Gender" name="gender" readonly>
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Phone</label>
                                        <input type="text" class="form-control editprofileuser" value="@Model.phone" name="phone" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label>KTP Number</label>
                                        <input type="text" class="form-control editprofileuser" value="@Model.noktp" name="noktp" readonly>
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Email</label>
                                        <input type="email" class="form-control" value="@Model.email" name="email" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-12">
                                        <label>Address</label>
                                        <input type="text" class="form-control editprofileuser" value="@Model.address" name="address" readonly>
                                    </div>
                                </div>
                                <div class="row" style="padding:0px 20px;">
                                    <div class="col-sm-6 form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input" id="editablechexbox">
                                            Please Check, If You want to Edit Your Profile!
                                        </label>
                                    </div>
                                    <div class="col-sm-6" id="editableprofile">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>Upload Image Profile </label>
                                                    <div class="input-group col-xs-12">
                                                        <input type="file" name="image1">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="float:right;">
                                            <button type="submit" class="btn btn-gradient-primary mr-2">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank"> Save Wedding</a>.All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>


@Scripts.Render("~/Content/datatable")
<script>
    $('#editableprofile').hide();
    $(document).on('change', function () {
        if ($('#editablechexbox').is(":checked")) {
            $('#editableprofile').show();
            $('.editprofileuser').removeAttr("readonly");
        } else {
            $('#editableprofile').hide();
            $('.editprofileuser').attr('readonly', true);
        }
    });

</script>