﻿<!DOCTYPE HTML>
<html>
<head>
    <title>Save Wedding</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="~/Templates/PurpleTemp/assets/images/logo.svg" />
    @Styles.Render("~/bundles/Homecss")
</head>
<body class="is-preload">
 
    @RenderBody()

    <!-- Scripts -->
    @Scripts.Render("~/Content/Homejs")


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>