﻿@if (Model != null)
{
    int no = 1;
    foreach (var item in Model)
    {
        ViewBag.itemdata = new
        {
            idcity = item.cityid
        };
        <!-- Modal -->
        <div class="modal fade" id="deletecitymodal_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" style="width:65%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Delete City</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="padding-left:10%;padding-right:10%;">
                            <div class="col-12 grid-margin">
                                <h5>Are You Sure want to Delete this Item?</h5>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        @Html.ActionLink("Yes", "DeleteCity", "City", new { id = ViewBag.itemdata.idcity }, new { @type = "button", @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        </div>
        no++;
    }
}




