﻿@if (Model.Package != null)
{
    int no = 1;
    foreach (var item2 in Model.Package)
    {
        ViewBag.packagedata = new
        {
            idpackage = item2.packageid,
            namepackage = item2.packagename
        };
        <!-- Modal -->
        <div class="modal fade" id="editpackagemodal_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" style="width:65%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Edit Package</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="padding-left:10%;padding-right:10%;">
                            <div class="col-12 grid-margin">
                                <form class="forms-sample" method="post" action="@Url.Action("EditPackage", "Package")">
                                    <div class="form-group">
                                        <input type="hidden" name="packageid" value="@ViewBag.packagedata.idpackage" />
                                    </div>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="packagename" value="@ViewBag.packagedata.namepackage" required>
                                    </div>
                                    <div class="form-group" style="float:right; margin-top:3%;">
                                        <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        no++;
    }
}



