﻿@model SaveWedding.Models.Admin.PackageItemCategory
@{
    Layout = null;
    Layout = "~/Views/Layout/_PlanningLayout.cshtml";
}


<title>Planning | Save Wedding</title>

<div class="main">
    <div class="content-wrapper">
        <!-- partial:partials/_navbar.html -->
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <!-- partial -->
            <div class="container-scroller">
                <div class="page-header">
                    <h3 class="page-title">
                        <span class="page-title-icon bg-gradient-primary text-white mr-2">
                            <i class="mdi mdi-heart-box-outline"></i>
                        </span> Planning Wedding
                    </h3>
                </div>
                <div class="row" style="padding-left:3rem; padding-right:3rem;">
                    <div class="col-12" style="width:1038px;">
                        <div class="card">
                            <div class="card-body">
                                <label class="alert-danger" style="font-size:18px;font-weight:bold;">@TempData["message"]</label>
                                <form class="form-sample" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Package</label>
                                                <div class="col-sm-9">
                                                    <select name="packageid" id="selectpackage" class="form-control">
                                                        <option selected value="0">--- Choose Package ---</option>
                                                        @if (Model.Package != null)
                                                        {
                                                            foreach (var item in Model.Package)
                                                            {
                                                                <option value="@item.packageid">@item.packagename</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p><strong>Choose Custom Package</strong></p>
                                    @if (Model.Item != null && Model.Category != null)
                                    {
                                        <div class="row">
                                            @foreach (var category in Model.Category)
                                            {
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-sm-3 col-form-label"><strong>Wedding @category.categoryname</strong></label>
                                                        <div class="col-sm-9">
                                                            <div class="row">
                                                                @foreach (var item in Model.Item)
                                                                {
                                                                    if (item.categoryid == category.categoryid)
                                                                    {
                                                                        <div class="col-md-6">
                                                                            <div class="form-check form-check-danger">
                                                                                <label class="form-check-label">
                                                                                    <input type="checkbox" name="itemid" value="@item.itemid" class="form-check-input">@item.itemname
                                                                                </label>
                                                                            </div>
                                                                        </div>                                                                       
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                    <p><strong>Choose years and month for your time saving</strong></p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Year (range 1-2 th)</label>
                                                <div class="col-sm-8">
                                                    <input type="number" class="form-control" name="years" min="1" max="2" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Month (range 1-12 bln)</label>
                                                <div class="col-sm-8">
                                                    <input type="number" class="form-control" name="months" min="1" max="12" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Price</label>
                                                <div class="col-sm-8">
                                                    <input type="hidden" name="totalprice" required />
                                                    <label id="labeltotalprice" class="form-control" style="background-color:gainsboro;"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label">Monthly Fee</label>
                                                <div class="col-sm-8">
                                                    <input type="hidden" class="form-control" name="monthlyfee" required />
                                                    <label id="labelmonthlyfee" class="form-control" style="background-color:gainsboro;"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="margin-left:25px;">
                                            <div class="form-group row">
                                                <div class="col-sm-1 form-check">
                                                    <label class="form-check-label text-muted">
                                                        <input type="checkbox" class="form-check-input" id="TermConditionPlanning">
                                                    </label>
                                                </div>
                                                <div class="col-sm-11 form-check" style="margin-left:-15px;">
                                                    I agree to <a href="#" data-toggle="modal" data-target="#planningtermcondition">all Terms & Conditions</a>  of Planning Wedding
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="submit" id="btnplanning" class="btn btn-gradient-primary mb-2 font-weight-medium auth-form-btn" style="float:right;" disabled>Submit</button>
                                        <button type="button" id="btncalculate" class="btn btn-gradient-info mb-2 font-weight-medium auth-form-btn" style="float:right;margin-right:15px;">Calculate</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <footer class="footer">
                        <div class="copyright">
                            <span>&copy; SaveWedding.com All rights reserved.</span>
                            <span>Updated March 2020</span>
                        </div>
                    </footer>

                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</div>

@Scripts.Render("~/Content/datatable")
<script>
    $(document).on('change', function () {
        if ($('#TermConditionPlanning').is(":checked")) {
            $('#btnplanning').removeAttr('disabled');
        } else {
            $('#btnplanning').attr('disabled', 'disabled');
        }
    });


    $('#btncalculate').click(function () {
        $('#warningmodal').modal('hide');
        var arritem = [];
        var packageid = $('#selectpackage').children('option:selected').val();
        var year = $('.form-group input[name="years"]').val();
        var month = $('.form-group input[name="months"]').val();

        //get value on checked item id
        $.each($('input[name="itemid"]:checked'), function () {
            arritem.push($(this).val());
        });
        if (arritem == "" && packageid == "0") {
            var warning = "<h5 class='alert alert-danger'>Please Choose Package, Custom Package or Both of them for Calculating!</h5>";
            $('#warningmodal .modal-body').html(warning);
            $('#warningmodal').modal('show');
        } else if (year == "" && month == "") {
            var warning = "<h5 class='alert alert-danger'>One or Both of Years and Months Field are Required!</h5>";
            $('#warningmodal .modal-body').html(warning);
            $('#warningmodal').modal('show');
        } else if (parseInt(year) <= 0 || parseInt(year) > 2) {
            var warning = "<h5 class='alert alert-danger'>Value of Years Field must be between 1 to 2 years!</h5>";
            $('#warningmodal .modal-body').html(warning);
            $('#warningmodal').modal('show');
        } else if (parseInt(month) <= 0 || parseInt(month) > 12) {
            var warning = "<h5 class='alert alert-danger'>Value of Months Field must be between 1 to 12 months!</h5>";
            $('#warningmodal .modal-body').html(warning);
            $('#warningmodal').modal('show');
        } else {
            $('#warningmodal').modal('hide');
            var itemid = arritem.toString();

            $.ajax({
                type: "POST",
                url: "/Planning/CountPrice",
                data: {
                    item: itemid,
                    package: packageid
                },
                success: function (msg) {
                    if (year == "") {
                        var warning = "<h5 class='alert alert-danger'>Please Input on the Years Field before Filling the Months Field!</h5>";
                        $('#warningmodal .modal-body').html(warning);
                        $('#warningmodal').modal('show');
                    }
                    else if (month == "") {
                        var totalmonth = (parseInt(year) * 12);
                        var fee = (msg / totalmonth);
                        $('.form-group input[name="totalprice"]').val(msg);
                        $('#labeltotalprice').html(NumberCommas(msg));
                        $('.form-group input[name="monthlyfee"]').val(fee.toFixed(0));
                        $('#labelmonthlyfee').html(NumberCommas(fee.toFixed(0)));
                    } else {
                        var totalmonth = ((parseInt(year) * 12) + parseInt(month));
                        var fee = (msg / totalmonth);
                        $('.form-group input[name="totalprice"]').val(msg);
                        $('#labeltotalprice').html(NumberCommas(msg));
                        $('.form-group input[name="monthlyfee"]').val(fee.toFixed(0));
                        $('#labelmonthlyfee').html(NumberCommas(fee.toFixed(0)));
                    }
                }
            });
        }
    });

    function NumberCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
</script>

@Html.Partial("~/Views/Layout/WarningModal.cshtml")
@Html.Partial("~/Views/Layout/PlanningTerms.cshtml")