﻿@model SaveWedding.Models.Admin.PlanningStatus
@using System.Linq;
@if (Model.plan != null)
{
    int no = 1;
    long distinctuser = 0;
    int distinctstatus = 0;
    string datenoww = "";
    foreach (var item in Model.plan)
    {
        if (item.userid != distinctuser || item.statusid != distinctstatus || item.plandate != datenoww)
        {
            ViewBag.planning = new
            {
                iduser = item.userid,
                idstatus = item.statusid,
                dateplan = item.plandate
            };
            <!-- Modal -->
            <div class="modal fade" id="itemdetails_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-lg modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Customer's Item Information</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="padding-left:10%;padding-right:10%;">
                                <div class="col-12 grid-margin">
                                    <div class="table-responsive">
                                        <table>
                                            @{
                                                var itemplanning = Model.plan.Where(x => x.userid == ViewBag.planning.iduser && x.statusid == ViewBag.planning.idstatus && x.plandate == ViewBag.planning.dateplan).Select(x => new { x.tblItem.itemname, x.tblItem.itemprice, x.tblItem.tblCategory.categoryname }).OrderBy(x => x.categoryname).ToList();
                                                if (itemplanning != null)
                                                {
                                                    string distinctbuffer = "";
                                                    foreach (var item2 in itemplanning)
                                                    {
                                                        string namaitem = item2.itemname;
                                                        long hargaitem = Convert.ToInt64(item2.itemprice);
                                                        <tr>
                                                            @if (item2.categoryname != distinctbuffer)
                                                            {
                                                                <td width="35%">-&nbsp;@item2.categoryname Category </td>
                                                                <td width="35%">=>&nbsp;<strong>@namaitem</strong></td>
                                                                <td width="30%">:&nbsp;Rp.@hargaitem.ToString("N0")</td>
                                                                distinctbuffer = item2.categoryname;
                                                            }
                                                            else
                                                            {
                                                                <td width="35%"></td>
                                                                <td width="35%">=>&nbsp;<strong>@namaitem</strong></td>
                                                                <td width="30%">:&nbsp;Rp.@hargaitem.ToString("N0")</td>
                                                            }
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            distinctuser = Convert.ToInt64(item.userid);
            distinctstatus = Convert.ToInt32(item.statusid);
            datenoww = item.plandate;
            no++;
        }
    }
}
