﻿<!-- Modal -->
<div class="modal fade" id="createdressmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" style="width:65%;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Create Item Dress</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="padding-left:10%;padding-right:10%;">
                    <div class="col-12 grid-margin">
                        <form class="forms-sample" enctype="multipart/form-data" method="post" action="@Url.Action("Create","Dress")">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="itemname" required>
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                <input type="number" class="form-control" min="1" name="itemprice" required>
                            </div>                       
                            <div class="form-group">
                                <label>Image</label><br />
                                <input type="file" name="imagefile" required>
                            </div>
                            <div class="form-group">
                                <label>Detail</label>
                                <textarea class="form-control" name="itemdetail" rows="5" required></textarea>
                            </div>
                            <div class="form-group" style="float:right; margin-top:3%;">
                                <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

