﻿@if (Model != null)
{
    int no = 1;
    foreach (var item in Model)
    {
        ViewBag.itemdata = new
        {
            itemid = item.itemid,
            itemname = item.itemname,
            itemdetail = item.itemdetail,
            itemprice = item.itemprice           
        };

        <!-- Modal -->
        <div class="modal fade" id="editdressmodal_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" style="width:65%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Edit Item Dress</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="padding-left:10%;padding-right:10%;">
                            <div class="col-12 grid-margin">
                                <form class="forms-sample" enctype="multipart/form-data" method="post" action="@Url.Action("Edit","Dress")">
                                    <div class="form-group">
                                        <input type="hidden" name="itemid" value="@ViewBag.itemdata.itemid" />                                      
                                    </div>
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="itemname" value="@ViewBag.itemdata.itemname" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input type="number" class="form-control" name="itemprice" min="1" value="@ViewBag.itemdata.itemprice"  required>
                                    </div>
                                    <div class="form-group">
                                        <label>Image</label><br />
                                        <input type="file" name="imagefile">
                                    </div>
                                    <div class="form-group">
                                        <label>Detail</label>
                                        <textarea class="form-control" name="itemdetail" rows="5" required>@ViewBag.itemdata.itemdetail</textarea>
                                    </div>
                                    <div class="form-group" style="float:right; margin-top:3%;">
                                        <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        no++;
    }
}
