﻿@model SaveWedding.Models.tblUser
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/Templates/PurpleTemp/assets/images/logo.svg" />
    <title>Save Wedding</title>
    @Styles.Render("~/bundles/Signupcss")
</head>
<body>

    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <img src="~/Templates/PurpleTemp/assets/images/zikri-04.svg" style="margin-left:40%;" alt="logo Save Wedding" />
        </div>
    </nav>

    <div class="container-fluid">
        <div class="container-fluid page-body-wrapper full-page-wrapper">

            <div class="content-wrapper d-flex align-items-center auth">

                <div class="row flex-grow">
                    <div class="col-lg-6 mx-auto">
                        <h2 style="text-align:center">Change Password</h2><br />
                        <div class="auth-form-light text-left p-2">
                            <form class="pt-3" method="post">
                                <div id="Message1">
                                    @if (TempData["success"] != null)
                                    {
                                        <label id="labelchangepassword" class="alert-success"><strong>@TempData["success"]</strong></label>

                                    }
                                    <label class="alert-success"><strong>@TempData["error"]</strong></label>
                                </div>                                
                                <div class="form-group">
                                    @*<input type="password" class="form-control form-control-lg" placeholder=" Old Password" minlength="6" required="required">*@
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @type = "password", @class = "form-control form-control-lg", @placeholder = "Old Password", @minlength = "6", @required = "required" } })
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg" name="Kode" id="InputPassword" placeholder=" New Password" minlength="6" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-lg password" name="Kode2" id="InputPassword2" placeholder="Repeat Password" minlength="6" required="required">
                                    <div id="Message2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    @* <button id="BtnSignUp" class="btn btn-primary mb-4 font-weight-medium auth-form-btn" data-toggle="modal" data-target="#ChangePasswordModal" style="float:right;">Save</button>*@
                                    <button id="BtnSignUp" class="btn btn-primary mb-4 font-weight-medium auth-form-btn" style="float:right; margin-top: 1rem;">Save</button>
                                    <a href="@Url.Action("Index","User")"  class="btn btn-secondary mb-4 font-weight-medium auth-form-btn" style="float:right; margin-right: 1rem; margin-top: 1rem;">Cancel</a>
                                </div>
                            </form>
                        </div><br />

                    </div>
                </div>
            </div>
        </div>
    </div>
  

    @Scripts.Render("~/Content/Signupjs")
    <script>


        $('.password').keyup(function () {
            if ($('#InputPassword').val() != $('#InputPassword2').val()) {
                $('#Message2').html(' <label class="alert-danger"><strong>Your password and Repeat password donot match!</strong></label>');
                $('#BtnSignUp').attr('type', 'button');
            } else {
                $('#Message2').html("");
                $('#BtnSignUp').attr('type', 'submit');
            }
        });


     
        var d = $('#labelchangepassword').text();
        if (d != "") {
            alert(d);
            window.location.href = "@Url.Action("Index","User")";          
        } 
    </script>
</body>
</html>
