﻿<!-- Modal -->
@if (Model.Reward != null)
{
    var activecarousel = 1;
    foreach (var reward in Model.Reward)
    {
        <div class="modal fade" id="ClaimRewardModal_@activecarousel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">                      
                            <h4 style="text-align:center;">Are You Sure want to Claim @reward.rewardname?</h4>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>                       
                        @Html.ActionLink("Yes","ClaimReward","Claim",new {rewardid=reward.rewardid, rewardpoint=reward.totalpoint},new { @class="btn btn-danger"})
                    </div>
                </div>
            </div>
        </div>
        activecarousel++;
    }
}
