﻿<div class="modal fade" id="iklansimulasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width:65%; height:100%;">
        <div class="modal-content">
            <div class="modal-body" style="background:url(@Url.Content("~/Templates/HomeTemp/images/swbn-01-02.jpg"));background-size:100%;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="width:10%;margin-left:90%;">
                    <span aria-hidden="true">Close(&times;)</span>
                </button>
                <h1 style="color:white; font-family:'Arial Rounded MT';text-align:center;">

                    <b>Hello @Session["logedUsername"]</b>
                    <br /> <b>Are You Confused for Choosing Your Planning Package in Marriage?</b>

                </h1>
                <h3 style="color:white;text-align:center;">
                    <strong>
                        <br /><small>
                            tell us your personal data,
                            then we will help you finding a Suitable Package for You in
                        </small>Simulation.
                    </strong>
                </h3>
                <a href="@Url.Action("Index","Simulation")" class="btn btn-outline-primary btn-icon-text" style="float:right;">
                    <i class="mdi mdi-play-circle btn-icon-prepend mdi-36px"></i>
                    <span class="d-inline-block text-left" style="color:white;">
                        <small class="font-weight-light d-block">Let's Get</small> Started
                    </span>
                </a>
            </div>

        </div>
    </div>
</div>
