﻿@model SaveWedding.Models.Admin.RewardItem
@using System.Linq;
@{
    Layout = null;
    Layout = "~/Views/Layout/_UserLayout.cshtml";

}

@Scripts.Render("~/Content/jquery")
@*@Scripts.Render("~/Content/carousel")*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>
<title>Save Wedding</title>
<div class="main">
    <div class="content-wrapper">
        <div class="row" id="proBanner">
            <div class="col-12">
            </div>
        </div>
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-home"></i>
                </span> Home
            </h3>
        </div>
        <div class="row">
            @if (Model.Reward != null)
            {
                <div class="col-md-12 stretch-card grid-margin">
                    <div class="card">
                        <div id="demo" class="carousel slide" data-ride="carousel">
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                            </ul>
                            <div class="carousel-inner">
                                @{ var activecarousel = 1;}
                                @foreach (var reward in Model.Reward)
                                {
                                    if (reward.status == 1)
                                    {
                                    <div class="carousel-item @(activecarousel == 1 ? Html.Raw("active") : Html.Raw(""))">
                                        <img src="@Url.Content(reward.imagebanner)" alt="Reward Points" width="402" height="125">
                                        <div class="carousel-caption">
                                            <h3>@reward.totalpoint.Value.ToString("N0") Points</h3>
                                            <p id="contentajha">@reward.rewardname</p>
                                            <a href="#" class="btn btn-rounded btn-outline-warning mb-auto font-weight-medium btn-lg" data-toggle="modal" data-target="#ClaimRewardModal_@activecarousel">
                                                Claim
                                            </a>
                                        </div>
                                    </div>
                                        activecarousel++;
                                    }
                                }

                            </div>
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Recent Update Items</h4><br />
                            <div class="row mt-3">
                                <div class="col-6 pr-1">
                                    @if (Model.Item != null)
                                    {

                                        <img src="@Url.Content(Model.Item.Where(x => x.categoryid == 1).OrderByDescending(x => x.itemid).FirstOrDefault().itemimage)" class="mb-2 w-100 rounded" width="465" height="400" alt="image">
                                        <img src="@Url.Content(Model.Item.Where(x => x.categoryid == 4).OrderByDescending(x => x.itemid).FirstOrDefault().itemimage)" class="mb-2 w-100 rounded" width="465" height="400" alt="image">

                                    }
                                </div>
                                <div class="col-6 pr-1">
                                    @if (Model.Item != null)
                                    {

                                        <img src="@Url.Content(Model.Item.Where(x => x.categoryid == 2).OrderByDescending(x => x.itemid).FirstOrDefault().itemimage)" class="mb-2 w-100 rounded" width="465" height="400" alt="image">
                                        <img src="@Url.Content(Model.Item.Where(x => x.categoryid == 3).OrderByDescending(x => x.itemid).FirstOrDefault().itemimage)" class="mb-2 w-100 rounded" width="465" height="400" alt="image">


                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank"> Save Wedding</a>.All rights reserved.</span>
        </div>
        <input type="hidden" value="@TempData["iklansimulasi"]" id="iklansimulation" />
        <input type="hidden" value="@TempData["claimresult"]" id="claimresult" />
    </footer>
    <!-- partial -->
</div>

@Scripts.Render("~/Content/jquery")

@Html.Partial("~/Views/User/IklanSimulasi.cshtml")
@Html.Partial("ClaimReward")
@Html.Partial("~/Views/User/WarningModal.cshtml")
<script>
    var nilaiiklan = $('#iklansimulation').val();
    if (nilaiiklan == "1") {
        setTimeout(function () {
            $('#iklansimulasi').modal({ backdrop: 'static', keyboard: false, show: true });
        }, 800);
    }

    $(document).ready(function () { 
    var viewbagclaim = $('#claimresult').val();
        if (viewbagclaim == "1") {
            var urlhere = "<a href='@Url.Action("Index","Claim")' style='color:blue;'>Here</a>";
            var warning = "<h5 class='alert alert-success'>Your Points is Success to be changed! Please Click " +
                urlhere + " to see All Your Vouchers</h5>";
            $('#warningmodals .modal-body').html(warning);
            $('#warningmodals').modal('show');
        } else if (viewbagclaim == "2") {
            var warning = "<h5 class='alert alert-danger'>Your Points are not Enough for Claim this Voucher!</h5>";
            $('#warningmodals .modal-body').html(warning);
            $('#warningmodals').modal('show');
        } else if (viewbagclaim == "0") {
            var warning = "<h5 class='alert alert-danger'>Something Went Wrong!</h5>";
            $('#warningmodals .modal-body').html(warning);
            $('#warningmodals').modal('show');
        } else {
            $('#warningmodals').modal('hide');
        }
        });
</script>

