﻿@if (Model.UserList != null)
{
    int no = 1;
    foreach (var item in Model.UserList)
    {
        ViewBag.userdata = new
        {
            iduser = item.userid
        };
        <!-- Modal -->
        <div class="modal fade" id="editaccessactivationadmin_@no" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" style="width:65%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Edit Activation</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="padding-left:10%;padding-right:10%;">
                            <div class="col-12 grid-margin">
                                <form class="forms-sample" method="post" action="@Url.Action("EditActivation", "Setting")">
                                    <div class="form-group">
                                        <input type="hidden" name="userid" value="@ViewBag.userdata.iduser" />
                                    </div>                                    
                                    <div class="form-group">
                                        <label>Choose User Status</label>
                                        <div class="row" style="padding:0px 20px;">
                                            <div class="form-check col-6">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="isactive" value="1" checked="checked"> Active <i class="input-helper"></i>
                                                </label>
                                            </div>
                                            <div class="form-check col-6">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="isactive" value="0"> Not Active <i class="input-helper"></i>
                                                </label>
                                            </div>
                                        </div>                                      
                                    </div>
                                    <div class="form-group" style="float:right; margin-top:3%;">
                                        <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        no++;
    }
}



