﻿<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;font-size:25px;font-family:'Times New Roman';">
        <b>You Are Finished</b>
    </div><br /> <br />
    Dear @ViewBag.Name <br />
    <p>
        Congratulations, you finished from Save Wedding program.
        <br />
        <br />
        Please contact us for more information in  <a href="https://api.whatsapp.com/send?phone=6282118601516" target="_blank"> Here.</a> . <br /><br />



    </p>
    <br />
    <br />
    <br />
    This message has been generated automatically. Thank you.<br /><br />

    <p><br>  Sincerely,<br>  <br>  <br>  <strong>Save Wedding</strong></p><br />
    <p>NOTE: <br>  Please do not reply this message. Mail sent to this address cannot be answered.</p>
</body>
</html>