﻿<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;font-size:25px;font-family:'Times New Roman';">
        <b>Information Planning</b>
    </div><br /> <br />
    Dear @ViewBag.Name <br />
    <p>
        Your planning wedding has been submitted at @ViewBag.Plandate. <br />
        This is review your planning wedding.
    </p>
    <strong>Package Name  : @ViewBag.Package  @ViewBag.hargapaket</strong><br />
    <strong>Item @ViewBag.Package : </strong><br /> <table><tbody>@ViewBag.details</tbody></table><br />
    <strong>Custom Package Name :</strong><br /> <table><tbody>@ViewBag.Custom</tbody></table><br />

    <strong>Total Price : @ViewBag.Price</strong><br />
    <strong>Amount of month : @ViewBag.Month</strong><br />
    <strong>Monthly Fee : @ViewBag.Saving</strong><br />

    <strong>Please Transfer Your Monthly Fee to this Rekening :</strong><br />
    <strong>BCA : 35629771</strong><br />
    <strong>BNI : 03832517</strong><br />
    <strong>MANDIRI : 962234150</strong><br /><br />

    <strong>If You have not made a transaction after 7 days since this email was sent, then you must be re-planning.</strong>

    <p style="text-align:justify;color:black;">
        With the term and condition as below: <br />
        <strong>1.</strong> If the customer wants to <mark>refund savings in 1/3 of the time</mark> he saves,
        then the funds will be <mark> returned 70%</mark>, if the refund is in <mark>1/2 of the time</mark> of saving,
        then the funds will be <mark>returned 50%</mark>.  And the <mark>rest of the funds will not be returned</mark>.
        <br />
        <strong>2.</strong> Custumer must pay savings every month no later than the due date,
        if the <mark>customer pays past the due date</mark> then the custumer will be <mark>
            fined 5% of the total payment per / month
        </mark>.
        <br />
        <strong>3.</strong> <mark>Each monthly payment the customer will get a bonus</mark> in the form of points
        that <mark>can be exchanged when the customer finishes saving</mark>. If the <mark>
            point is not redeemed more
            than one month
        </mark> after saving, the <mark>point will be forfeited</mark>. And if the <mark>
            customer cancels the saving
        </mark> transaction, the <mark>points</mark> that have been obtained will <mark>expire</mark>.
    </p>
    <br />
    This message has been generated automatically. Thank you.<br /><br />

    <p><br>  Sincerely,<br>  <br>  <br>  <strong>Save Wedding</strong></p><br />
    <p>NOTE: <br>  Please do not reply this message. Mail sent to this address cannot be answered.</p>
</body>
</html>