﻿<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;font-size:25px;font-family:'Times New Roman';">
        <b>Sorry, Your Saving Has Been Rejected</b>
    </div><br /> <br />
    Dear @ViewBag.Name <br />
    <p>
        You must re-transaction, because the proof of transfer that you entered does not match the amount of your savings. Please transfer back with a nominal of <strong> @ViewBag.Price</strong>
        <br />
        <br />
        Refunds that have been previously transferred will be made after this email is sent. <br /><br />

    <p> For further information and explanation, you can contact us via the following link, <a href="https://api.whatsapp.com/send?phone=6282118601516" target="_blank"> Contact Us.</a></p>



    </p>
    <br />
    <br />
    <br />
    This message has been generated automatically. Thank you.<br /><br />

    <p><br>  Sincerely,<br>  <br>  <br>  <strong>Save Wedding</strong></p><br />
    <p>NOTE: <br>  Please do not reply this message. Mail sent to this address cannot be answered.</p>
</body>
</html>