﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Dear @ViewBag.Name <br />
        <p>
            Your password has been successfully changed. <br />
            Please Sign in to our Website with your new password.</p> <br />
            <strong>Username :@ViewBag.Name</strong><br />
            <strong>Password :@ViewBag.NewPassword</strong><br /><br />
            This message has been generated automatically. Please change your password as soon as possible for your security account.<br /><br />

        <p><br>  Sincerely,<br>  <br>  <br>  <strong>Save Wedding</strong></p><br />
        <p>NOTE: <br>  Please do not reply this message. Mail sent to this address cannot be answered.</p>
    </div>
</body>
</html>
