﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;font-size:25px;font-family:'Times New Roman';">
        <b>Confirmation Email for User Activation</b>
    </div>
    <div>
        <pre>
        Thank You for having register in our web application
    We just need to verify your email address for complete your registration!
    Click <a href="@ViewBag.ConfirmationLink">Here</a>
</pre>
    </div>
</body>
</html>
