﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;font-size:25px;font-family:'Times New Roman';">
        <b>Your @ViewBag.rewardname is Here!</b>
    </div><br /> <br />
    Dear @ViewBag.Name <br />
    <p>
        Your @ViewBag.rewardname is Successfully used.
        <br />
        <br />     

    <p>Please find the below of the details of your used Reward</p>
      
    <table>
        <tr>
            <td>
                @ViewBag.rewardname - @ViewBag.point points <br /><br />
                Use Date<br />
                @ViewBag.usedate
            </td>
        </tr>
    </table>
    <br />
    <br />
    This message has been generated automatically. Thank you.<br /><br />

    <p><br>  Sincerely,<br>  <br>  <br>  <strong>Save Wedding</strong></p><br />
    <p>NOTE: <br>  Please do not reply this message. Mail sent to this address cannot be answered.</p>
</body>
</html>
