﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@if ( Session["logedUserFullname"] != null)
{
    <label>
        Welcome @Session["logedUserFullname"].ToString();
    </label>
}

<a href="@Url.Action("Logout", "Index")">Log Out</a>