﻿<!-- Modal -->
<div class="modal fade" id="ForgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Forgot Password?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="pt-3" id="ForgotPasswordForm">
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" name="email" id="InputEmailModal" placeholder="Email Address">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="BtnForgotPassword" data-dismiss="modal" data-toggle="modal" data-target="#NoticeModal" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="NoticeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Forgot Password?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="Message">                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="ButtonClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
         

        $('#BtnForgotPassword').on('click', function () {
            var email = $('#InputEmailModal').val();
            $('.modal-body #Message').html('<label >Please Waiting......</label>');

            $.ajax({
                type: "post",
                data: { emailaddress: email },
                url: "/Home/ForgotPassword",
                success: function (msg) {                   
                    if (msg == 1) {
                        $('.modal-body #Message').html('<label class= "alert alert-success">New Password has been Sended to your Email for Reset Password <strong>Please Check Your Email!</strong></label>')
                    } else if (msg == 0) {
                        $('.modal-body #Message').html(' <label class="alert-danger">Your Email Address is Unregistered!</label>');
                    } else if (msg == 2) {
                        $('.modal-body #Message').html(' <label class="alert-danger">Email Address is Required</label>');
                    } else {
                        alert(msg)
                    }                   
                }
            });
        }); 

         $('#ButtonClose').on('click', function () {
            $('.modal-body #Message').html('<label >Please Waiting......</label>');
             $('#InputEmailModal').val("");
         });

    });
</script>