﻿@{
    ViewBag.Title = "Home Page";
}
<div style="margin-left:87%;">
    @Html.ActionLink("Sign In", "SignIn", null, new { @class = "button style2", @style = "padding:0px 8px;font-size:55%;margin-top:20px;margin-right:5px;" })
    @Html.ActionLink("Sign Up", "SignUp", null, new { @class = "button", @style = "padding:0px 8px;font-size:55%;margin-top:20px;" })
</div>

<!-- Header -->
<section id="header">
    <header>

        <h1>Save Wedding</h1>
        <a href="@Url.Action("SignUp","home")"><p>Sign Up Here for Join Us</p></a>*
    </header>
    <footer>
        <a href="#banner" class="button style2 scrolly-middle">Learn More About Us</a>
    </footer>
</section>

<!-- Banner -->
<section id="banner">
    <header>
        <h2>About Us</h2>
    </header>
    <p>
        Save Wedding is an application that makes it easy to prepare for a wedding that pays attention to every category needed by the bride and groom.
        With Save Wedding you can make your wedding the way you want. Starting from beautiful invitations, elegant clothing, beautiful decorations, delicious food, and many other luxuries that you can get
    </p>
    <footer>
        <a href="#first" class="button style2 scrolly">Act on this message</a>
    </footer>
</section>

<!-- Feature 1 -->
<article id="first" class="container box style1 right">
    <a href="#" class="image fit"><img src="~/Templates/HomeTemp/images/Gambar_Depan_1.png" alt="" /></a>
    <div class="inner">
        <header>
            <h2>
                The Desire of Every Couple<br />
                in his marriage
            </h2>
        </header>
        <p>Every couple craves a wedding reception or party that suits what they want, but also according to the financial needs. Because the marriage is a celebration that is expected to occur once in a lifetime.</p>
    </div>
</article>

<!-- Feature 2 -->
<article class="container box style1 left">
    <a href="#" class="image fit"><img src="~/Templates/HomeTemp/images/Gambar_Depan_2.png" alt="" /></a>
    <div class="inner">
        <header>
            <h2>
                Wedding Catering<br />
                is very important
            </h2>
        </header>
        <p>Food is one important component that determines the perfection of your happy day. Serving a slick food with a delicious taste will certainly make the invited guests will not be disappointed in your wedding day.</p>
    </div>
</article>

<!-- Portfolio -->
<article class="container box style2">
    <header>
        <h2>
            Multiple Categories
        </h2>
        <p>
            There are categories that can satisfy you<br />
        </p>
    </header>
    <div class="inner gallery">
        <div class="row gtr-0">
            <div class="col-3 col-12-mobile"><a href="~/Templates/HomeTemp/images/fulls/fulls_1.png" class="image fit"><img src="~/Templates/HomeTemp/images/fulls/fulls_1.png" alt="" title="Wedding Gown" /></a></div>
            <div class="col-3 col-12-mobile"><a href="~/Templates/HomeTemp/images/fulls/02.jpg" class="image fit"><img src="~/Templates/HomeTemp/images/fulls/fulls_2.png" alt="" title="Wedding Catering" /></a></div>
            <div class="col-3 col-12-mobile"><a href="~/Templates/HomeTemp/images/fulls/03.jpg" class="image fit"><img src="~/Templates/HomeTemp/images/fulls/fulls_3.png" alt="" title="Wedding Decoration" /></a></div>
            <div class="col-3 col-12-mobile"><a href="~/Templates/HomeTemp/images/fulls/04.jpg" class="image fit"><img src="~/Templates/HomeTemp/images/fulls/fulls_4.png" alt="" title="Wedding Invitation" /></a></div>
        </div>
        <div class="row gtr-0">
            <div class="col-3 col-12-mobile"><a href="~/Templates/HomeTemp/images/fulls/05.jpg" class="image fit"><img src="~/Templates/HomeTemp/images/fulls/fulls_5.png" alt="" title="Wedding Ring" /></a></div>
            <div class="col-3 col-12-mobile"><a href="~/Templates/HomeTemp/images/fulls/06.jpg" class="image fit"><img src="~/Templates/HomeTemp/images/fulls/fulls_6.png" alt="" title="Wedding Makeup" /></a></div>
            <div class="col-3 col-12-mobile"><a href="~/Templates/HomeTemp/images/fulls/07.jpg" class="image fit"><img src="~/Templates/HomeTemp/images/fulls/fulls_7.png" alt="" title="Honeymoon" /></a></div>
            <div class="col-3 col-12-mobile"><a href="~/Templates/HomeTemp/images/fulls/08.jpg" class="image fit"><img src="~/Templates/HomeTemp/images/fulls/fulls_8.png" alt="" title="Marriage Contract" /></a></div>
        </div>
    </div>
</article>

<section id="footer">
    <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-google-plus-g"><span class="label">Google+</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Pinterest</span></a></li>
    </ul>
    <div class="copyright">
        <ul class="menu">
            <li>&copy; SaveWedding.com All rights reserved.</li>
            <li>Updated March 2020</li>
        </ul>
    </div>
</section>