﻿@model SaveWedding.Models.tblUser

@{
    ViewBag.Title = "SignUp";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration Account</title>
    @Styles.Render("~/bundles/Signupcss")
    <link rel="shortcut icon" href="~/Templates/PurpleTemp/assets/images/logo.svg" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-8 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo" style="display: flex; align-items: center; justify-content: center;">
                                <img src="~/Templates/PurpleTemp/assets/images/zikri-02.svg" width="200" height="200">
                            </div>
                            <h4>New here?</h4>
                            <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
                            <form class="pt-3" id="FormSignUp" method="post">
                                <div id="Message1">
                                    <label class="alert-success"><strong>@TempData["success"]</strong></label>
                                    <label class="alert-danger"><strong>@TempData["error"]</strong></label>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label style="color:red;"><small>*All Fields is Required</small></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="Inputname" placeholder="Fullname" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-lg username" name="username" id="InputUsername" placeholder="Username" required="required">
                                            <label class="alert-danger">@TempData["username"]</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-lg" name="email" id="InputEmail" placeholder="Email" required="required">
                                            <label class="alert-danger">@TempData["email"]</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-lg" name="address" id="InputAddress" placeholder="Address" required="required">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-lg numberonly" maxlength="13" name="phone" id="InputPhone" placeholder="Phone Number" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <select name="Gender" class="form-control form-control-lg" style="color:black;">
                                                <option disabled selected>Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-lg" name="password" id="InputPassword" placeholder="Password" minlength="6" required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-lg password" name="password2" id="InputPassword2" placeholder="Repeat Password" minlength="6" required="required">
                                            <div id="Message2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" maxlength="16" class="form-control form-control-lg numberonly" name="noktp" id="InputKTP" placeholder="KTP Number" required="required">
                                    <small style="color:red;"><sup>Note: Max length of the Text is 16 Characters</sup></small>
                                </div>

                                <div class="mb-4">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input" id="TermCondition"> I agree to all Terms & Conditions
                                        </label>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <button id="BtnSignUp" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" disabled>
                                        Sign Up
                                    </button>
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    Already have an account?
                                    @Html.ActionLink("Login", "SignIn", null, new { @class = "text-primary" })
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    @Scripts.Render("~/Content/Signupjs")

    <script>
      
        $(document).on('change', function () {
            if ($('#TermCondition').is(":checked")) {
                $('#BtnSignUp').removeAttr('disabled');
            } else {
                $('#BtnSignUp').attr('disabled', 'disabled');
            }

        });

        $('.password').keyup(function () {
            if ($('#InputPassword').val() != $('#InputPassword2').val()) {
                $('#Message2').html(' <label class="alert-danger"><strong>Your password and Repeat password donot match!</strong></label>');
                $('#BtnSignUp').attr('type', 'button');
            } else {
                $('#Message2').html("");
                $('#BtnSignUp').attr('type', 'submit');
            }
        });

        (function ($) {
            $.fn.inputFilter = function (inputFilter) {
                return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    } else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    } else {
                        this.value = "";
                    }
                });
            };
        }(jQuery));

        $('.numberonly').inputFilter(function (value) {
            return /^\d*$/.test(value);    // Allow digits only, using a RegExp
        });

    </script>
</body>
</html>