﻿@model SaveWedding.Models.Admin.JobSalaryCityUser
@using System.Linq;

@{
    Layout = null;
    Layout = "~/Views/Layout/_PlanningLayout.cshtml";
}


<div class="main">
    <div class="content-wrapper">
        <!-- partial:partials/_navbar.html -->
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <!-- partial -->
            <div class="container-scroller">
                <div class="page-header">
                    <h3 class="page-title">
                        <span class="page-title-icon bg-gradient-primary text-white mr-2">
                            <i class="mdi mdi-phone"></i>
                        </span> Simulation
                    </h3>
                </div>
                <div class="row" style="padding-left:3rem; padding-right:3rem;">
                    <div class="col-12" style="width:1038px;">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-sample">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" value="@Session["logedUserFullname"]" name="name" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Range Salary</label>
                                                <div class="col-sm-9">
                                                    <select name="salaryid" id="selectsalary" class="form-control">
                                                        <option selected value="0">--- Choose Salary ---</option>
                                                        @if (Model.Salary != null)
                                                        {
                                                            foreach (var item in Model.Salary)
                                                            {
                                                                <option value="@item.salaryid">@item.salaryrange</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">City</label>
                                                <div class="col-sm-9">
                                                    <select name="cityid" id="selectcity" class="form-control">
                                                        <option selected value="0">--- Choose City ---</option>
                                                        @if (Model.City != null)
                                                        {
                                                            foreach (var item in Model.City)
                                                            {
                                                                <option value="@item.cityid">@item.cityname</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Profession</label>
                                                <div class="col-sm-9">
                                                    <select name="jobid" id="selectjob" class="form-control">
                                                        <option selected value="0">--- Choose Profession ---</option>
                                                        @if (Model.Job != null)
                                                        {
                                                            foreach (var item in Model.Job)
                                                            {
                                                                <option value="@item.jobid">@item.jobname</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Input Age</label>
                                                <div class="col-sm-9">
                                                    <input type="number" name="age" id="InputAge" min="18" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Gender</label>
                                                <div class="col-sm-4">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="membershipRadios" checked>Male
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="membershipRadios">Female
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" id="btnSimulation" class="btn btn-gradient-primary mb-2 font-weight-medium auth-form-btn" style="float:right;">Submit</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @Scripts.Render("~/Content/datatable")
    <script>

        //validate input
        $('#btnSimulation').on('click', function () {
            var city = $('#selectcity').children('option:selected').val();
            var salary = $('#selectsalary').children('option:selected').val();
            var proffesion = $('#selectjob').children('option:selected').val();
            var age = $('#InputAge').val();
            $('#Simulationmodal').modal('hide');

            if (city == "0") {
                var warning = "<h5 class='alert alert-danger'>Please Choose City, City field is Required!</h5>";
                $('#Simulationmodal .modal-body').html(warning);
                $('#Simulationmodal').modal('show');
            } else if (salary == "0") {
                var warning = "<h5 class='alert alert-danger'>Please Choose Salary, Salary field is Required!</h5>";
                $('#Simulationmodal .modal-body').html(warning);
                $('#Simulationmodal').modal('show');
            } else if (proffesion == "0") {
                var warning = "<h5 class='alert alert-danger'>Please Choose Profession, Profession field is Required!</h5>";
                $('#Simulationmodal .modal-body').html(warning);
                $('#Simulationmodal').modal('show');
            } else if (age == "") {
                var warning = "<h5 class='alert alert-danger'>Please Fill Age, Age field is Required!</h5>";
                $('#Simulationmodal .modal-body').html(warning);
                $('#Simulationmodal').modal('show');
            } else if (age < 18) {
                var warning = "<h5 class='alert alert-danger'>Age must be Equals or Greater than 18 Years Old!</h5>";
                $('#Simulationmodal .modal-body').html(warning);
                $('#Simulationmodal').modal('show');
            } else {
                $('#Simulationmodal').modal('hide');
                $('#HasilSimulationmodal').modal('hide');

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CountSimulation","Simulation")",
                    data: {
                        city: city,
                        salary: salary,
                        proffesion: proffesion,
                        age: age
                    }, success: function (msg) {
                        if (msg != null) {
                            var link_package = "<a href='@Url.Action("Index","Information")' style='color:#9a55ff;'>"+ msg +"</a>";
                            var link_konsultasi = "<a href='https://api.whatsapp.com/send?phone=6282118601516' target='_blank'> Click Here </a>";
                            var link_planning = "<a href='@Url.Action("Index","Planning")'> Menu Planning Wedding </a>";
                            var bodymodal = "<p style='align-text:justify;'>We Recomended to Choose <strong>" + link_package + "</strong>. If You Feel Satisfying with this Recomendation, You can Redirect to "
                                + link_planning + ". But If Not, You can " + link_konsultasi + " for Consulting with Our Partner.</p>";
                            $('#HasilSimulationmodal .modal-body').html(bodymodal);
                            $('#HasilSimulationmodal').modal('show');
                        } else {
                            $('#Simulationmodal .modal-body').html(msg);
                            $('#Simulationmodal').modal('show');
                        }
                    }
                });
            }
        });


    </script>

    <footer class="footer">
        <div class="copyright">
            <span>&copy; SaveWedding.com All rights reserved.</span>
            <span>Updated March 2020</span>
        </div>
    </footer>

</div>

@Html.Partial("~/Views/Simulation/SimulationModal.cshtml")
@Html.Partial("~/Views/Simulation/Result.cshtml")
