﻿@model IEnumerable<SaveWedding.Models.tblSaving>
<!-- Modal -->
@if (Model != null)
{
    <div class="modal fade" id="createsaving" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" style="width:65%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">My Saving</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding-left:10%;padding-right:10%;">
                        <div class="col-12 grid-margin">
                            @if (Model.Count() != 0)
                            {
                                if (Model.OrderByDescending(x => x.savingid).FirstOrDefault().savingstatus != 2)
                                {
                                    <form class="forms-sample" enctype="multipart/form-data" method="post" action="@Url.Action("Index", "Saving")">
                                       
                                        <div class="form-group">
                                            <label>Upload Evidence of transfer</label><br />
                                            <input type="file" name="imagesaving" required>
                                        </div>
                                        <div class="form-group" style="float:right; margin-top:7%;">
                                            <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <form class="forms-sample" enctype="multipart/form-data" method="post" action="@Url.Action("EditSaving", "Saving")">

                                        <div class="form-group">
                                            <label>Upload Evidence of transfer</label><br />
                                            <input type="file" name="imagesaving" required>
                                        </div>
                                        <div class="form-group" style="float:right; margin-top:7%;">
                                            <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                                        </div>
                                    </form>
                                }

                            }
                            else
                            {
                                <form class="forms-sample" enctype="multipart/form-data" method="post" action="@Url.Action("Index", "Saving")">
                                    
                                    <div class="form-group">
                                        <label>Upload Evidence of transfer</label><br />
                                        <input type="file" name="imagesaving" required>
                                    </div>
                                    <div class="form-group" style="float:right; margin-top:7%;">
                                        <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                                    </div>
                                </form>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var rupiah = document.getElementById('rupiah');
        rupiah.addEventListener('keyup', function (e) {
            // tambahkan 'Rp.' pada saat form di ketik
            // gunakan fungsi formatRupiah() untuk mengubah angka yang di ketik menjadi format angka
            rupiah.value = formatRupiah(this.value);
        });

        /* Fungsi formatRupiah */
        function formatRupiah(angka, prefix) {
            var number_string = angka.replace(/[^.\d]/g, '').toString(),
                split = number_string.split('.'),
                sisa = split[0].length % 3,
                rupiah = split[0].substr(0, sisa),
                ribuan = split[0].substr(sisa).match(/\d{3}/gi);

            // tambahkan titik jika yang di input sudah menjadi angka ribuan
            if (ribuan) {
                separator = sisa ? ',' : '';
                rupiah += separator + ribuan.join(',');
            }

            rupiah = split[1] != undefined ? rupiah + '.' + split[1] : rupiah;
            return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
        }
    </script>
}
