﻿@model IEnumerable<SaveWedding.Models.tblSaving>
@using System.Linq;
@using System.Globalization;
@{
    Layout = null;
    Layout = "~/Views/Layout/_PlanningLayout.cshtml";
}

@Styles.Render("~/bundles/datatable")

<div class="main-panel">
    <div class="content-wrapper" style="width:124%;">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-cash"></i>
                </span> My Saving Wedding
            </h3>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <div class="alert-danger">@TempData["Error"]</div>
                            <div class="alert-success">@TempData["successsave"]</div>
                            <div class="alert-success">
                                @if (TempData["finish"] != null)
                                {
                                    @TempData["finish"] <a href="https://api.whatsapp.com/send?phone=6282118601516" target="_blank">Here </a>;
                                }
                            </div>
                        </div>
                        <div class="card-description">
                            <button type="button" data-toggle="modal" data-target="#createsaving" class="btn btn-success col-md-3" style="padding-left:10px; padding-right:10px;">Upload Evidence of Transfer</button>

                            @if (Model != null)
                            {
                                if (Model.Count() != 0)
                                {
                                    <label class="form-control col-sm-2" style="float:right; text-align:center">
                                        @Model.OrderByDescending(x => x.savingid).FirstOrDefault().point.Value.ToString("N0", CultureInfo.CreateSpecificCulture("es-ES"))
                                    </label>
                                }
                                else
                                {
                                    <label class="form-control col-sm-2" style="float:right; text-align:center">
                                        0
                                    </label>
                                }

                                <button class="btn btn-gradient-primary" style="float:right;" disabled>Point</button>
                            }
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover" id="datatables">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Upload Date</th>
                                        <th>Saving Date</th>
                                        <th>Deadline Date</th>
                                        <th>Time Range </th>
                                        <th>Saving Month to</th>
                                        <th>Nominal</th>
                                        <th>Remain Saving</th>
                                        <th>Fine</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int no = 1;
                                        foreach (var item in Model)
                                        {
                                    <tr>
                                        <td>@no</td>
                                        <td>@item.uploaddate.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@item.savingdate.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@item.deadlinedate.Value.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            @item.timerange Month
                                        </td>
                                        <td>@item.monthto Month</td>
                                        <td>@item.nominal.Value.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                                        <td>@item.remaining.Value.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))</td>
                                        @if (item.fine == null)
                                        {
                                            <td>-</td>
                                        }
                                        else
                                        {
                                            <td>
                                                @item.fine.Value.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))
                                            </td>

                                        }
                                        <td>
                                            @if (item.savingstatus == null)
                                            {
                                                <label class="badge badge-warning">Pending</label>
                                            }
                                            else if (item.savingstatus == 1)
                                            {
                                                <label class="badge badge-success">Approved</label>
                                            }
                                            else
                                            {
                                                <label class="badge badge-danger">Rejected</label>
                                            }
                                        </td>

                                    </tr>
                                            no++;
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer" style="width:125%;">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank"> Save Wedding</a>.All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
        </div>
    </footer>
    <!-- partial -->
</div>

@Scripts.Render("~/Content/datatable")

<script>
    $('#datatables').dataTable();
</script>


@Html.Partial("~/Views/Saving/CreateSaving.cshtml")