﻿@model SaveWedding.Models.Admin.PackageItemCategory
@using System.Linq;
@using System.Globalization;
@{
    Layout = null;
    Layout = "~/Views/Layout/_UserLayout.cshtml";

}
<title>Informasi Paket</title>

<div class="main">
    <div class="content-wrapper">
        <!-- partial:partials/_navbar.html -->
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <!-- partial -->
            <div class="container-scroller">
                <div class="page-header">
                    <h3 class="page-title">
                        <span class="page-title-icon bg-gradient-primary text-white mr-2">
                            <i class="mdi mdi-information-outline"></i>
                        </span> Information Package
                    </h3>
                </div>

                <div class="row">
                    @if (Model.Package != null && Model.Category != null)
                    {



                        foreach (var item in Model.Package)
                        {
                            int urut = 1;
                            <div class="col-md-4 stretch-card grid-margin">

                                @if (item.packageid % 3 == 0)
                                {
                                    <div class="card bg-green-gradient card-img-holder text-white">
                                        <div class="card-body" style="background: url(@Url.Content("~/Templates/Images/circle.png")); background-size: 100% 100%;">

                                            <h2 class="font-weight-normal mb-3">
                                                @item.packagename
                                            </h2>
                                            @foreach (var items in Model.Category)
                                            {
                                                if (items.categoryid == 1)
                                                {
                                                    <h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#WeddingDress_@item.packageid">@urut. Wedding @items.categoryname</a></h4>

                                                }
                                                else if (items.categoryid == 2)
                                                {
                                                    <h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#WeddingDecoration_@item.packageid">@urut. Wedding @items.categoryname</a></h4>

                                                }
                                                else if (items.categoryid == 3)
                                                {
                                                    <h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#WeddingCard_@item.packageid">@urut. Wedding @items.categoryname</a></h4>

                                                }
                                                else
                                                {
                                                    <h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#WeddingFood_@item.packageid">@urut. Wedding @items.categoryname</a></h4>

                                                }
                                                @*<h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#Wedding_@no">@urut. Wedding @items.categoryname</a></h4>*@
                                                urut++;
                                            }

                                            <h2 class="card-text">
                                                @Model.Item.Where(x => x.packageid == item.packageid).Select(x => x.itemprice).Sum().Value.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))
                                            </h2>

                                        </div>
                                    </div>
                                }
                                else if (item.packageid % 2 == 0)
                                {
                                    <div class="card bg-gradient-danger card-img-holder text-white">
                                        <div class="card-body" style="background: url(@Url.Content("~/Templates/Images/circle.png")); background-size: 100% 100%;">

                                            <h2 class="font-weight-normal mb-3">
                                                @item.packagename
                                            </h2>
                                            @foreach (var items in Model.Category)
                                            {
                                                if (items.categoryid == 1)
                                                {
                                                    <h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#WeddingDress_@item.packageid">@urut. Wedding @items.categoryname</a></h4>

                                                }
                                                else if (items.categoryid == 2)
                                                {
                                                    <h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#WeddingDecoration_@item.packageid">@urut. Wedding @items.categoryname</a></h4>

                                                }
                                                else if (items.categoryid == 3)
                                                {
                                                    <h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#WeddingCard_@item.packageid">@urut. Wedding @items.categoryname</a></h4>

                                                }
                                                else
                                                {
                                                    <h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#WeddingFood_@item.packageid">@urut. Wedding @items.categoryname</a></h4>

                                                }
                                                @*<h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#Wedding_@no">@urut. Wedding @items.categoryname</a></h4>*@
                                                urut++;
                                            }

                                            <h2 class="card-text">
                                                @Model.Item.Where(x => x.packageid == item.packageid).Select(x => x.itemprice).Sum().Value.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))
                                            </h2>

                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="card bg-gradient-info card-img-holder text-white">
                                        <div class="card-body" style="background: url(@Url.Content("~/Templates/Images/circle.png")); background-size: 100% 100%;">

                                            <h2 class="font-weight-normal mb-3">
                                                @item.packagename
                                            </h2>
                                            @foreach (var items in Model.Category)
                                            {
                                                if (items.categoryid == 1)
                                                {
                                                    <h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#WeddingDress_@item.packageid">@urut. Wedding @items.categoryname</a></h4>

                                                }
                                                else if (items.categoryid == 2)
                                                {
                                                    <h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#WeddingDecoration_@item.packageid">@urut. Wedding @items.categoryname</a></h4>

                                                }
                                                else if (items.categoryid == 3)
                                                {
                                                    <h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#WeddingCard_@item.packageid">@urut. Wedding @items.categoryname</a></h4>

                                                }
                                                else
                                                {
                                                    <h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#WeddingFood_@item.packageid">@urut. Wedding @items.categoryname</a></h4>

                                                }
                                                @*<h4 class="mb-5"><a href="#" data-toggle="modal" data-target="#Wedding_@no">@urut. Wedding @items.categoryname</a></h4>*@
                                                urut++;
                                            }

                                            <h2 class="card-text">
                                                @Model.Item.Where(x => x.packageid == item.packageid).Select(x => x.itemprice).Sum().Value.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))
                                            </h2>

                                        </div>
                                    </div>
                                }



                            </div>

                        }

                    }
                </div>
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Custom Package</h4><br />
                                <div class="row">
                                    <div class="col-md-12">

                                        @if (Model.Item != null & Model.Category != null)
                                        {

                                            foreach (var category in Model.Category)
                                            {

                                                if (category.categoryid == 1)
                                                {
                                                    <h6 class="font-weight-normal mb-3">
                                                        @category.categoryname
                                                    </h6>

                                                    foreach (var item in Model.Item)
                                                    {

                                                        if (item.categoryid == 1 && item.packageid == null)
                                                        {
                                                            <a href="#" data-toggle="modal" data-target="#CustomDress_@item.itemid">
                                                                <img src="@Url.Content(item.itemimage)" class="img-thumbnail" style="width:  200px; height: 200px; background-size: cover;" alt="image">
                                                            </a>
                                                        }

                                                    }
                                                }
                                            }

                                        }
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12">

                                        @if (Model.Item != null & Model.Category != null)
                                        {

                                            foreach (var category in Model.Category)
                                            {

                                                if (category.categoryid == 2)
                                                {
                                                    <h6 class="font-weight-normal mb-3">
                                                        @category.categoryname
                                                    </h6>
                                                    foreach (var item in Model.Item)
                                                    {
                                                        if (item.categoryid == 2 && item.packageid == null)
                                                        {
                                                            <a href="#" data-toggle="modal" data-target="#CustomDecoration_@item.itemid"><img src="@Url.Content(item.itemimage)" class="img-thumbnail" style="width:  200px; height: 200px; background-size: cover;" alt="image"></a>
                                                        }


                                                    }
                                                }
                                            }

                                        }
                                    </div>
                                </div><br />
                                <div class="row">
                                    <div class="col-md-12">

                                        @if (Model.Item != null & Model.Category != null)
                                        {

                                            foreach (var category in Model.Category)
                                            {

                                                if (category.categoryid == 3)
                                                {
                                                    <h6 class="font-weight-normal mb-3">
                                                        @category.categoryname
                                                    </h6>
                                                    foreach (var item in Model.Item)
                                                    {
                                                        if (item.categoryid == 3 && item.packageid == null)
                                                        {
                                                            <a href="#" data-toggle="modal" data-target="#CustomCard_@item.itemid"><img src="@Url.Content(item.itemimage)" class="img-thumbnail" style="width:  200px; height: 200px; background-size: cover;" alt="image"></a>
                                                        }

                                                    }
                                                }
                                            }

                                        }
                                    </div>
                                </div><br />
                                <div class="row">
                                    <div class="col-md-12">

                                        @if (Model.Item != null & Model.Category != null)
                                        {

                                            foreach (var category in Model.Category)
                                            {

                                                if (category.categoryid == 4)
                                                {
                                                    <h6 class="font-weight-normal mb-3">
                                                        @category.categoryname
                                                    </h6>
                                                    foreach (var item in Model.Item)
                                                    {
                                                        if (item.categoryid == 4 && item.packageid == null)
                                                        {
                                                            <a href="#" data-toggle="modal" data-target="#CustomFood_@item.itemid"><img src="@Url.Content(item.itemimage)" class="img-thumbnail" style="width:  200px; height: 200px; background-size: cover;" alt="image"></a>
                                                        }

                                                    }
                                                }
                                            }

                                        }
                                    </div>
                                </div>

                                @*<div class="col-6 pl-1">
                                        <img src="~/Templates/PurpleTemp/assets/images/dashboard/dah-03.png" class="mb-2 mw-100 w-100 rounded" alt="image">
                                        <img src="~/Templates/PurpleTemp/assets/images/dashboard/dah-01.png" class="mw-100 w-100 rounded" alt="image">
                                    </div>*@

                            </div>
                        </div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="https://SaveWedding.com/" target="_blank"> Save Wedding</a>.All rights reserved.</span>
                    </div>
                </footer>
            </div>


            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <!-- partial -->
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</div>




@Html.Partial("weddingdress")
@Html.Partial("weddingdecoration")
@Html.Partial("weddingcatering")
@Html.Partial("weddinginvitation")

@Html.Partial("customdress")
@Html.Partial("customcard")
@Html.Partial("customdecoration")
@Html.Partial("customfood")





