﻿@model SaveWedding.Models.Admin.PackageItemCategory
    @using System.Globalization;
<!-- Modal -->
@if (Model != null)
{
   
    foreach (var package in Model.Package)
    {

        <div class="modal fade" id="WeddingDecoration_@package.packageid" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document" style="width:65%;">
                <div class="modal-content">
                    @foreach (var category in Model.Category)
                    {
                        if (category.categoryid == 2)
                        {
                            <div class="modal-header">

                                <h3 class="modal-title" id="exampleModalLongTitle">Wedding @category.categoryname Information</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }

                    }
                    <div class="modal-body">
                        <div class="row">

                            @foreach (var item in Model.Item)
                            {
                                if (item.packageid == package.packageid && item.categoryid == 2)
                                {
                                    <div class="col-6 grid-margin" style="background-color:white; padding-right:0px;">
                                        <img class="card-img-top" src="@Url.Content(item.itemimage)" alt="User View" style="width:100%;">
                                    </div>
                                    <div class="col-6 grid-margin" style="padding:0px 0px;">
                                        <div class="card">
                                            <div class="card-body">
                                                <form class="forms-sample">
                                                    <div class="form-group">
                                                        <label>Name</label>
                                                        <input type="text" class="form-control" value="@item.itemname" name="name" readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Detail</label>
                                                        <textarea type="text" rows="5" class="form-control" name="Detail" style="text-align:justify; line-height:1.5;" readonly> @item.itemdetail </textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Price</label>
                                                        <input type="text" class="form-control" value="@item.itemprice.Value.ToString("C0", CultureInfo.CreateSpecificCulture("id-ID"))" name="Detail" readonly>
                                                    </div>
                                                    @*<button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                                                        <button class="btn btn-light">Cancel</button>*@
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>                    
                </div>

            </div>
        </div>

    }

}


