﻿<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="~/Templates/PurpleTemp/assets/images/logo.svg" />
    <title>Save Wedding</title>
    <!-- plugins:css -->
    @Styles.Render("~/Content/css")

</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @Html.Partial("~/Views/Layout/AdminNav.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            @Html.Partial("~/Views/Layout/AdminNavsamping.cshtml")
            <!-- partial -->
            @RenderBody()
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>