﻿<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a><img src="~/Templates/PurpleTemp/assets/images/logo.jpeg" alt="logo" width="70" height="70" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item d-none d-lg-block full-screen-link">
                <a class="nav-link">
                    <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                </a>
            </li>
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                    <div class="nav-profile-img">
                        @{string imageprofile = Session["logedUserImage"].ToString();}
                        <img src="@Url.Content(imageprofile)" alt="image">
                        <span class="availability-status online"></span>
                    </div>
                    <div class="nav-profile-text">
                        <p class="mb-1 text-black">@Session["logedUsername"]</p>
                    </div>
                </a>
                <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                        <i class="mdi mdi-human-child mr-2 text-success"></i> Account Setting
                    </a>
                    <div class="dropdown-menu" aria-label="navbarDropdown">
                        <a class="dropdown-item mdi mdi-key" href="@Url.Action("ChangePassword","Admin")" style="color:black;">Changes Password</a>
                        <a class="dropdown-item mdi mdi-account" href="@Url.Action("ViewProfile","Admin")" style="color:black;">View Profile</a>
                    </div>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("LogOut","Home")" style="color:black;">
                        <i class="mdi mdi-logout mr-2 text-primary"></i> Signout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
