﻿<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("index","admin")">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("customer","admin")">
                <span class="menu-title">Customer</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("saving","admin")">
                <span class="menu-title">Saving</span>
                <i class="mdi mdi mdi-cash-usd menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("claim","admin")">
                <span class="menu-title">Claim Rewards</span>
                <i class="mdi mdi-trophy-award menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("planning","admin")">
                <span class="menu-title">Planning</span>
                <i class="mdi mdi-book-open-page-variant menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("package","admin")">
                <span class="menu-title">Package</span>
                <i class="mdi mdi-package-variant menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#category" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Category</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-folder-multiple-image menu-icon"></i>
            </a>
            <div class="collapse" id="category">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("dress","admin")">Dress</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("decoration","admin")">Decoration</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("invitation","admin")">Invitation Card</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("catering","admin")">Food Catering</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#setting" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Setting</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>
            <div class="collapse" id="setting">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("AccessActiveUser","Setting")">Access and Activation</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("PlanningStatus","Setting")">Planning Status</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("jobandsalary","admin")">Job and Range of Salary</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("DistrictorCity","admin")">City</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Reward","admin")">Reward</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("ChangePassword","admin")">Change Password</a></li>
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("ViewProfile","admin")">View Profile</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#reporting" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Reporting</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-book-multiple menu-icon"></i>
            </a>
            <div class="collapse" id="reporting">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Users","UserReporting",new {filter=0 })">Users</a></li>                    
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Plannings","PlanningReporting",new {filter=0 })">Plannings</a></li>                    
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Items","ItemReporting",new {filter=0 })">Items</a></li>                    
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Savings","SavingReporting",new {filter=0 })">Savings</a></li>                    
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Rewards","RewardReporting",new {filter=0 })">Rewards</a></li>                    
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Claims","ClaimRewardReporting",new {filter=0 })">Claim Rewards</a></li>                    
                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("Points","GetPointReporting",new {filter=0 })">Customer Points</a></li>                    
                </ul>
            </div>
        </li>
    </ul>
</nav>
