﻿<div class="modal fade" id="planningtermcondition" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" style="width:65%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Planning Wedding's Term and Condition</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <P><strong>Term & Condition:</strong></P>
                <p style="text-align:justify;font-family:'Times New Roman'; font-size:18px;">
                    <strong>1.</strong> If the customer wants to <mark>refund savings in 1/3 of the time</mark> he saves,
                    then the funds will be <mark> returned 70%</mark>, if the refund is in <mark>1/2 of the time</mark> of saving,
                    then the funds will be <mark>returned 50%</mark>.  And the <mark>rest of the funds will not be returned</mark>.
                </p>
                <p style="text-align:justify;font-family:'Times New Roman'; font-size:18px;">
                    <strong>2.</strong> Custumer must pay savings every month no later than the due date,
                    if the <mark>customer pays past the due date</mark> then the custumer will be <mark>
                        fined 5% of the total payment per / month
                    </mark>.
                </p>
                <p style="text-align:justify;font-family:'Times New Roman'; font-size:18px;">
                    <strong>3.</strong> <mark>Each monthly payment the customer will get a bonus</mark> in the form of points
                    that <mark>can be exchanged when the customer finishes saving</mark>. If the <mark>
                        point is not redeemed more
                        than one month
                    </mark> after saving, the <mark>point will be forfeited</mark>. And if the <mark>
                        customer cancels the saving
                    </mark> transaction, the <mark>points</mark> that have been obtained will <mark>expire</mark>.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
            </div>
        </div>
    </div>
</div>

