﻿@*<li class="nav-item">
  <div class="collapse" id="general-pages">
    <ul class="nav flex-column sub-menu">
        <li class="nav-item"> <a class="nav-link" href="#"> Blank Page </a></li>
        <li class="nav-item"> <a class="nav-link" href="#"> Login </a></li>
        <li class="nav-item"> <a class="nav-link" href="#"> Register </a></li>
        <li class="nav-item"> <a class="nav-link" href="#"> 404 </a></li>
        <li class="nav-item"> <a class="nav-link" href="#"> 500 </a></li>
    </ul>
  </div>
</li>*@
