﻿<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <img src="~/Templates/PurpleTemp/assets/images/logo.jpeg" width="70" height="70" alt="logo" />
        <button class="btn btn-gradient-primary mdi mdi-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding:2%; width:30%; margin-left:50px;">
            Menu
        </button>
        <div class="dropdown-menu navbar-dropdown">
            <a class="nav-link" href="@Url.Action("Index","User")">
                <i class="mdi mdi-home-account text-success"></i> Home
            </a>
            <div class="dropdown-divider"></div>
            <a class="nav-link" href="@Url.Action("Index","Information")">
                <i class="mdi mdi-information mr-2 text-primary"></i>Package Information
            </a>
            <div class="dropdown-divider"></div>
            <a class="nav-link" href="@Url.Action("Index","Simulation")">
                <i class="mdi mdi-phone mr-2 text-primary"></i>Simulation
            </a>
            <div class="dropdown-divider"></div>
            <a class="nav-link" href="@Url.Action("Index","Planning")">
                <i class="mdi mdi-heart-box-outline mr-2 text-primary"></i> Planning Wedding
            </a>
        </div>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch" width="20" height="20">
        <div class="btn-group" width="20" height="20">

        </div>
        <ul class="navbar-nav navbar-nav-right">
            <li></li>
            <li class="nav-item d-none d-lg-block full-screen-link">
                <a class="nav-link">
                    <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                </a>
            </li>
         
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                    <div class="nav-profile-img">
                        @{ string imageprofile = Session["logedUserImage"].ToString();}
                        <img src="@Url.Content(imageprofile)" alt="image">
                        <span class="availability-status online"></span>
                    </div>
                    <div class="nav-profile-text">
                        <p class="mb-1 text-black">@Session["logedUsername"]</p>
                    </div>
                </a>
                <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                        <i class="mdi mdi-human-child mr-2 text-success"></i> Account Setting
                    </a>
                    <div class="dropdown-menu" aria-label="navbarDropdown">
                        <a class="dropdown-item mdi mdi-key" href="@Url.Action("ChangePassword","User")" style="color:black;">Changes Password</a>
                        <a class="dropdown-item mdi mdi-account" href="@Url.Action("ViewProfile","User")" style="color:black;">View Profile</a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item mdi mdi-cash-multiple" href="@Url.Action("Index","Saving")" style="color:black;">My Saving Wedding</a>
                    <a class="dropdown-item mdi mdi-star-circle" href="@Url.Action("Index","Claim")" style="color:black;">My Rewards</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("LogOut","Home")" style="color:black;">
                        <i class="mdi mdi-logout mr-2 text-primary"></i> Signout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
