﻿@model IEnumerable<SaveWedding.Models.tblClaim>
@using System.Linq;

@{
    Layout = null;
    Layout = "~/Views/Layout/_PlanningLayout.cshtml";
}
<div class="main">
    <div class="content-wrapper" style="width:150rem;">
        <div class="container-fluid page-body-wrapper">
            <div class="container-scroller">
                <div class="page-header">
                    <h3 class="page-title">
                        <span class="page-title-icon bg-gradient-primary text-white mr-2">
                            <i class="mdi mdi-seal"></i>
                        </span> My Reward
                    </h3>
                </div>
                <pre><b>Note:</b> Please Show these Reward to Our Save Wedding Partners and Only Click Use on the Related Place When You want to Use it</pre>
                <div class="alert-success">@TempData["message"]</div>
                @if (Model != null)
                {
                    <div class="row" style="width:1320px;">
                        @foreach (var item in Model)
                        {
                            if (item.claimstatus == 0)
                            {
                                <div class="col-6" style="margin-bottom:2%;">
                                    <form class="form-sample" method="post" action="@Url.Action("EditStatusClaim", "Claim")" style="width:625px;">
                                        <div class="card card-img-holder text-white" style="background:url(@Url.Content(item.tblReward.imagebanner));background-size:625px 269px;">
                                            <div class="card-body">
                                                @*<img src="~/Templates/Images/circle.png" class="card-img-absolute" alt="circle-image">*@
                                                <h4 class="font-weight-normal mb-3">
                                                    Reward
                                                </h4>
                                                <h2 class="mb-5">@item.tblReward.rewardname</h2>
                                                <h6 class="card-text">Point : @item.tblReward.totalpoint</h6>
                                            </div>
                                            <input type="hidden" name="Idclaim" value="@item.claimid" />
                                            <input type="hidden" name="status" value="1" />
                                            <button type="submit" style="width:110px;margin-left:81%;" class="btn btn-gradient-warning mb-2 font-weight-medium auth-form-btn">Use</button>
                                        </div>
                                    </form>
                                </div>
                            }
                        }
                    </div>
                    if (Model.Where(x => x.claimstatus == 0).Count() == 0)
                    {
                        <h4>No Vouchers yet</h4>
                    }
                }
                else
                {
                    <h4>No Vouchers yet</h4>
                }


            </div>
        </div>
    </div>
</div>
