﻿@model IEnumerable<SaveWedding.Models.tblClaim>
<!-- Modal -->
@if (Model != null)
{
    foreach (var item in Model)
    {
        if (item.claimstatus == 0)
        {
            ViewBag.useclaim = new
            {
                status = 1,
                claimid = item.claimid
            };
            <div class="modal fade" id="usereward_@item.claimid" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4 style="text-align:center;">Are You Sure want to Use @item.tblReward.rewardname?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            @Html.ActionLink("Yes", "EditStatusClaim", "Claim", new { Idclaim = ViewBag.useclaim.claimid , status = ViewBag.useclaim.status }, new { @class = "btn btn-danger" })
                        </div>
                    </div>
                </div>
            </div>            
        }
    }
}